<div accordion heading="Basic Details" panelid="dv25920112014" open="true">
    <div class="row marginbottom0">
        <!--<h3 class="georgia underlined marginbottom10" style="text-align: left; margin-left: 50px; margin-right: 50px"><span>Loan Amount</span></h3>-->

    </div>
    <div class="row marginbottom0" ng-hide="(isForHomeImprovement() == false && isPurchaseMoneySecond() == false && isMoneyUsedForRefinance() == false)">
        <h3 class="georgia underlined marginbottom10" style="text-align: left; margin-left: 50px; margin-right: 50px"><span>HMDA Determination Questions</span></h3>
        <div class="containerZ" ng-show="isForHomeImprovement() == true">
            <div class="leftz">
                <div class="text-right">Is any money being used for Home Improvement:<span class="star">*</span></div>
            </div>
            <div class="rightz col-lg-12">
                <select valid="select" vminval="0" vmsg="Is any money being used for Home Improvement required" class="select" ng-model="product.HMDAQues1" ng-change="checkHMDAQues1()"
                        ng-options="type.key as type.value for type in common.SelectYesNo" style="width: 50px"></select>
            </div>
        </div>

        <div class="containerZ" ng-show="isPurchaseMoneySecond() == true">
            <div class="leftz">
                <div class="text-right">Is any money being used for Purchase Money Second:<span class="star">*</span></div>
            </div>
            <div class="rightz col-lg-12">
                <select valid="select" vminval="0" vmsg="Is any money being used for Purchase Money Second required" class="select" ng-model="product.HMDAQues2" ng-change="checkHMDAQues2()" ng-disabled="product.HMDAQues3 =='Y'"
                        ng-options="type.key as type.value for type in common.SelectYesNo" style="width: 50px"></select>
            </div>
        </div>
        <div class="containerZ " ng-show="isPurchaseMoneySecond() == true">
            <div class="left100">
                <div class="alert alert-info-level1" style="width: 450px; margin-left: 240px; margin-top: 45px">
                    <p>Must be used as a down payment for home being purchased</p>
                    <p>Must be secured as a second lien on the home being purchased</p>
                    <p>Must close simultaneously with first mortgage</p>
                </div>
            </div>
        </div>
        <div class="containerZ" ng-show="isMoneyUsedForRefinance() == true">
            <div class="leftz">
                <div class="text-right">Is any money being used to refinance (pay off) a debt currently secured by a dwelling (residential structure):<span class="star">*</span></div>
            </div>
            <div class="rightz col-lg-12">
                <select valid="select" vminval="0" vmsg="Is any money being used to refinance required" class="select" ng-model="product.HMDAQues3" ng-change="checkHMDAQues3()" ng-disabled="product.HMDAQues2 == 'Y'"
                        ng-options="type.key as type.value for type in common.SelectYesNo" style="width: 50px"></select>
            </div>
        </div>
    </div>
    <div class="row marginbottom0">
        <h3 class="georgia underlined marginbottom10" style="text-align: left; margin-left: 40px; margin-right: 50px"><span>Basic</span></h3>

        <div class="containerZ">

            <div class="leftz">
                <div class="text-right">Total Amount Requested:<span class="star">*</span></div>
            </div>
            <div class="rightz">
                <input valid="number" vminval="1" vmsg="Total amount requested required" id="id_loanAmtRequested" type="text" valid="number" vid="errid10192014" maxlength="9" ng-model="product.loanAmtRequested" name="text">
            </div>

            <div class="leftz">
                <div class="text-right">Purpose:<span class="star">*</span></div>
            </div>
            <div class="rightz col-lg-12">
                <select valid="select" vminval="0" vmsg="Purpose required" class="select" ng-change="changePurposeItem()" ng-model="product.loanPurpose" ng-disabled="disablePurposeDesc"
                        ng-options="type.key as type.value for type in dd_PurposeItems" style="width: 250px"></select>
            </div>
            <div class="leftz" ng-show="isPurposeDescriptionApplication">
                <div class="text-right">Purpose Description:<span class="star">*</span></div>
            </div>
            <div class="rightz" ng-show="isPurposeDescriptionApplication">
                <input valid="text" vmsg="Purpose Description required" ng-class_="{error:isPurposeDescriptionApplication }" type="text" ng-model="product.purposeDesc" name="text" maxlength="30">
            </div>

            <div class="leftz">
                <div class="text-right">
                    State Loan Will Close In:<span class="star">*</span>
                </div>
            </div>
            <div class="leftz col-lg-12">
                <select valid="select" vminval="0" vmsg="State Loan Will Close In required" class="select" ng-model="product.stateLoanClosedIn" style="width: 270px"
                        ng-options="type.key as type.value for type in common.DD_ProductStateLoanWillCloseIn"></select>
            </div>
            <div class="leftz">
                <div class="text-right">
                    Desired Closing Date:<span class="star">*</span>
                </div>
            </div>
            <div class="rightz">
                <div class="input-group date">
                    <input valid="date" vmsg="Desired Closing Date required" id="inp1016112014" ng-model="product.desiredClosingDate" wmg-datepicker type="text" id="expiration" data-date-format="mm/dd/yyyy" data-group="expiration-group" value="">
                    <label for="inp1016112014" data-group="expiration-group" class="icon-calendar"></label>
                    MM/DD/YYYY
                </div>
                <div class="alert alert-info-level1" style="width: 600px; margin: 0px">
                    <p>For the SLA guidance, click this link: <a href="http://wmg.wellsfargo.com/ucm_prd/idcplg?IdcService=GET_FILE&RevisionSelectionMethod=LatestReleased&Rendition=primary&dDocName=UCM_PRD_272701&allowInterrupt=1">SLA Consumer Credit SLA Table</a></p>
                </div>
            </div>
            <div class="leftz" ng-show="isPaymentTypeApplicable()==true">
                <div class="text-right">
                    Payment Type:<span class="star">*</span>
                </div>
            </div>
            <div class="rightz col-lg-12" ng-show="isPaymentTypeApplicable()==true">
                <select valid="select" vmsg="Payment Type required" class="select" ng-change="changePaymentType()" ng-model="product.paymentType" style="width: 270px"
                        ng-options="type.key as type.value for type in common.DD_ProductPaymentType"></select>
            </div>
            <div class="leftz">
                <div class="text-right">
                    Payment Frequency:
                </div>
            </div>
            <div class="rightz col-lg-12">
                <select class="select" vminval="0" ng-model="product.paymentFrequency" ng-init="product.paymentFrequency='M'" style="width: 270px"
                        ng-options="type.key as type.value for type in common.DD_ProductPaymentFrequency"></select>
            </div>
            <div class="leftz" ng-show="isMarginIndexApplicable() == true">
                <div class="text-right">
                    Margin Index:<span class="star">*</span>
                </div>
            </div>
            <div class="rightz col-lg-12" ng-show="isMarginIndexApplicable() == true">
                <select valid="select" vminval="0" vmsg="Margin Index required" class="select" ng-model="product.marginIndex" style="width: 80px"
                        ng-options="type.key as type.value for type in common.DD_ProductMarginIndex"></select>
            </div>
            <div class="leftz">
                <div class="text-right">
                    Preferred Payment Due Date:
                </div>
            </div>
            <div class="rightz col-lg-12">
                <select class="select" ng-model="product.preferredPaymentDueDate" style="width: 50px"
                        ng-options="type.key as type.value for type in common.DD_ProductPreferredPaymentDueDate"></select>
            </div>
            <div class="leftz" ng-show="isTermApplicable() == true">
                <div class="text-right">
                    Term:<span class="star">*</span>
                </div>
            </div>
            <div class="rightz" ng-init="" ng-show="isTermApplicable() == true">
                <input valid="number" vmsg="Required" type="text" ng-model="product.term" ng-change="prefillAmortization()" maxlength="3">
            </div>
            <div class="leftz" ng-show="isAmortizationApplicable() == true">
                <div class="text-right" ng-show="flagAmortizationApplicable == false">
                    Amortization:
                </div>
                <div class="text-right" ng-show="flagAmortizationApplicable == true">
                    Amortization:<span class="star">*</span>
                </div>
            </div>
            <div class="rightz" ng-show="isAmortizationApplicable() == true">
                <input valid="^[0-9.]+$" vmsg="Amortization should be numeric and equal or greater than Term" vminval="{{product.term}}" ng-model="product.amortization" ng-show="flagAmortizationApplicable == false" type="text" maxlength="3">
                <input ng-model="product.amortization" ng-show="flagAmortizationApplicable == true" valid="number" vminval="{{product.term}}" vmsg="Amortization should be equal or greater than Term" type="text" maxlength="3">
            </div>
            <div class="leftz" ng-show="isCollateralFundedAtWFApplicable() == true">
                <div class="text-right">
                    Are all of the collateral accounts funded at Wells Fargo?:<span class="star">*</span>
                </div>
            </div>
            <div class="rightz col-lg-12" ng-show="isCollateralFundedAtWFApplicable() == true">
                <select valid="select" vminval="0" vmsg="Are all of the collateral accounts funded at Wells Fargo required" class="select" ng-model="product.WFFundedInd" style="width: 100px"
                        ng-options="type.key as type.value for type in common.SelectYesNo"></select>
            </div>

            <div class="leftz" ng-show="isRequestRefinancePayOffApplicable() == true">
                <div class="text-right">Is this to refinance or payoff a loan/line secured by Liquid Collateral?<span class="star">*</span></div>
            </div>
            <div class="rightz col-lg-12" ng-show="isRequestRefinancePayOffApplicable() == true">
                <select valid="select" vminval="0" vmsg="Is this request to refinance or payoff a loan or line which is secured by Liquid Collateral required" class="select" ng-model="product.payoffRefiLiquidCollateralInd" style="width: 100px"
                        ng-options="type.key as type.value for type in common.SelectYesNo"></select>
            </div>
            <div class="leftz" ng-show="isUnderWritingApplicable() == true">
                <div class="text-right">
                    Underwriting Type:<span class="star">*</span>
                </div>
            </div>
            <div class="rightz col-lg-12" ng-show="isUnderWritingApplicable() == true">
                <select valid="select" vminval="0" vmsg="Underwriting Type required" class="select" ng-model="product.underwritingType" style="width: 100px"
                        ng-options="type.key as type.value for type in common.ddUnderWritingType"></select>
            </div>
            <div ng-show="isIncreaseOrRenewalApplicable() == true">
                <div class="leftz">
                    <div class="text-right">
                        For Increase or Renewal, enter Account Number:<span class="star">*</span>
                    </div>
                </div>
                <div class="rightz col-lg-12">
                    <input valid="number" vmsg="Required" type="text" ng-model="product.incrAccNo" maxlength="">
                </div>
                <div class="leftz">
                    <div class="text-right">
                        Original Line Amount:<span class="star">*</span>
                    </div>
                </div>
                <div class="rightz col-lg-12">
                    <input valid="number" vmsg="Required" type="text" ng-change="UpdateAmountRequested()" ng-model="product.originalLineAmount" maxlength="">
                </div>
            </div>
        </div>
    </div>
</div>
