

<div accordion-sections-link heading="Credit Details" status="1"></div>

<div class="tab-content" ng-controller="complianceController" svpappinit>
    <div accordion heading="Compliance" panelid="dv51030112014" open="true">
        <div ui-view="BasicDetails"></div>
    </div>

    <div ng-show="businessTypeSectionApplicable == true" accordion heading="Business Type Information" panelid="dv91311212014" open="true">
        <div ui-view="BusinessType"></div>
        <div ui-view="MembersOfficers"></div>
    </div>

    <div class="panel-heading" style="padding: 4px">
    </div>
    <div class="panel-body" style="background-color: white">
        <div ui-view="CustomerContacts"></div>
    </div>

    <div ui-view="Comments"></div>
</div>


