.rewardsnav {
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	border-color: #565656;

	/*Top Bar Styling*/
	.rewardsnav1{
		font-weight: 400;
		font-size: 25px;
		color: #FFCD00;
	}
	.rewardsnav2{
		font-weight: 400;
		font-size: 12px;
		color: white;
	}
	.right-border{
		border-right: 1px solid #FFCD00;
	}
}





