<!-- TOP ELEMENT WITH POINT TOTALS -->
<div class="rewardsnav">
  <ion-row>
    <ion-col width-33 class="text-center right-border">
      <div class="rewardsnav1">{{userrewardsinfo.activechallenges}}</div>
      <div class="rewardsnav2">ACTIVE<br>CHALLENGES</div>
    </ion-col>
    <ion-col width-33 class="text-center right-border">
      <div class="rewardsnav1">{{userrewardsinfo.allocatedpoints}}</div>
      <div class="rewardsnav2">POINTS<br>IN PLAY</div>
    </ion-col>
    <ion-col width-33 class="text-center">
      <div class="rewardsnav1">{{userrewardsinfo.availablepoints}}</div>
      <div class="rewardsnav2">POINTS<br>AVAILABLE</div>
    </ion-col>
  </ion-row>
</div>