<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="min-height:255px" >
    
    <div class="jumbotron padding-10 text-center bg-color-white">
        <div class="superbox-list">
            <img src="Content/img/app_icon/wf.jpg" class="superbox-img">
        </div>
        <h1 style="font-size: 30px;">Site Map</h1>
        <h5 class="text-left padding-5">
            <span class="air air-top-right" style="padding:15px 30px 0 0">
                <i class="fa fa-check-circle fa-1x text-primary"></i>
            </span>
            A site map (or sitemap) is a list of pages of a web site accessible to users. 
        </h5>
        <a ui-sref="Debug-User-URL" class="btn btn-default btn-lg btn-block btn-primary">
            <span class="menu-item-parent">Open URL Access <i class="fa fa-long-arrow-right"></i></span>
        </a>
    </div>
    
    
    


</div>
<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="min-height:255px">
    <div class="jumbotron padding-10 text-center bg-color-white">
        <div class="superbox-list">
            <img src="Content/img/app_icon/wf.jpg" class="superbox-img">
        </div>
        <h1 style="font-size: 30px;">Route Check</h1>
        <h5 class="text-left padding-5">
            <span  class="air air-top-right" style="padding:15px 30px 0 0">
                <i class="fa fa-check-circle fa-1x text-primary"></i>
            </span>
            Route names are used to identify one or more APP using in Console portal. 
        </h5>
        <a ui-sref="Debug-Route-View" class="btn btn-default btn-lg btn-block btn-primary">
            <span class="menu-item-parent">Open Route Availability <i class="fa fa-long-arrow-right"></i></span>
        </a>
    </div>
</div>


<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="min-height:255px">
    <div class="jumbotron padding-10 text-center bg-color-white">
        <div class="superbox-list">
            <img src="Content/img/app_icon/wf.jpg" class="superbox-img">
        </div>
        <h1 style="font-size: 30px;">Publish App</h1>
        <h5 class="text-left padding-5">
            <span  class="air air-top-right" style="padding:15px 30px 0 0">
                <i class="fa fa-check-circle fa-1x text-primary"></i>
            </span>
            Publishing is the general process that makes your Console application
        </h5>
        <a ui-sref="Debug-Publish-App" class="btn btn-default btn-lg btn-block btn-primary">
            <span class="menu-item-parent">Open Publish App<i class="fa fa-long-arrow-right"></i></span>
        </a>
    </div>
</div>


<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="min-height:255px">
    <div class="jumbotron padding-10 text-center bg-color-white">
        <div class="superbox-list">
            <img src="Content/img/app_icon/wf.jpg" class="superbox-img">
        </div>
        <h1 style="font-size: 30px;">New User</h1>
        <h5 class="text-left padding-5">
            <span class="air air-top-right" style="padding:15px 30px 0 0">
                <i class="fa fa-check-circle fa-1x text-primary"></i>
            </span>
            Create an Account, Your account give you access to UA Portal Apps
        </h5>
        <a ui-sref="Debug-User-Registration" class="btn btn-default btn-lg btn-block btn-primary">
            <span class="menu-item-parent">Open User Registration <i class="fa fa-long-arrow-right"></i></span>
        </a>
    </div>
</div>



<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="min-height:255px">
    <div class="jumbotron padding-10 text-center bg-color-white">
        <div class="superbox-list">
            <img src="Content/img/app_icon/wf.jpg" class="superbox-img">
        </div>
        <h1 style="font-size: 30px;">Registered User</h1>
        <h5 class="text-left padding-5">
            <span class="air air-top-right" style="padding:15px 30px 0 0">
                <i class="fa fa-check-circle fa-1x text-primary"></i>
            </span>
            Search Registered User profile and access. Edit the role, enabled or disabled app.
        </h5>
        <a ui-sref="Debug-Search-User" class="btn btn-default btn-lg btn-block btn-primary">
            <span class="menu-item-parent">Open User Access<i class="fa fa-long-arrow-right"></i></span>
        </a>
    </div>
</div>



<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" style="min-height:255px">
    <div class="jumbotron padding-10 text-center bg-color-white">
        <div class="superbox-list">
            <img src="Content/img/app_icon/wf.jpg" class="superbox-img">
        </div>
        <h1 style="font-size: 30px;">UI Framwork Test page</h1>
        <h5 class="text-left padding-5">
            <span class="air air-top-right" style="padding:15px 30px 0 0">
                <i class="fa fa-check-circle fa-1x text-primary"></i>
            </span>
            Preview of Console portal child app view page.
        </h5>
        <a ui-sref="Debug-UI-TestPage" class="btn btn-default btn-lg btn-block btn-primary">
            <span class="menu-item-parent">Open Test Page<i class="fa fa-long-arrow-right"></i></span>
        </a>
    </div>
</div>