/*************** default standard *******************/
h1, h2, h3, h4, h5, h6 {
    color: #44464a;
    font-family: Georgia, Times New Roman, Serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.0em;
    padding-bottom: 16px;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 8px;
}

h3 {
    font-size: 1.4em;
    padding-bottom: 6px;
}

h4 {
    font-size: 1.3em;
    padding-bottom: 4px;
}

h5 {
    font-size: 1.2em;
    padding-bottom: 2px;
}

h6 { font-size: 1em; }

p, ul, ol {
    margin: 0;
    padding: 0 0 16px 0;
}

p { padding: 0; }

ul {
    list-style-position: outside;
    list-style-type: disc;
    margin: 0 0 10px 0;
    padding: 0 0 0 15px;
}


ol {
    list-style-position: outside;
    list-style-type: decimal;
    margin: 0 0 10px 0;
    padding: 0 0 0 25px;
}

.thumbLeft {
    float: left;
    padding: 0 10px 10px 0;
}

.thumbRight {
    float: right;
    padding: 0 0 10px 10px;
}

.textLeft { text-align: left; }

.textRight { text-align: right; }

.textCenter { text-align: center; }

br { clear: both; }

.floatNone { float: none; }

.floatRight { float: right; }

.floatLeft { float: left; }

.bold { font-weight: bold; }

.regularcase { text-transform: none; }

.uppercase { text-transform: uppercase; }

.lowercase { text-transform: lowercase; }

img { border: none; }

a {
    color: #36c;
    cursor: hand;
    text-decoration: underline;
}

strong a {
    color: #36c;
    cursor: hand;
    font-weight: bold;
    text-decoration: underline;
}

a:hover {
    color: #c00;
    cursor: hand;
    text-decoration: underline;
}

.buttons {
    float: right;
    margin: 0;
    padding: 0;
    text-align: center;
    width: auto;
}

.buttons img {
    float: right;
    margin: 0 1px 0 1px;
    padding: 0;
    width: auto;
}

/*************** form objects *******************/

.focus, .textbox:focus, .dropdown:focus, .textarea:focus, .textarea-cbr:focus, .checkbox:focus, .checkbox input:focus, .radio:focus, .radio input:focus { outline: solid 1px #333333; }

.readonly { color: #ccc; }

input.button, .button {
    background-color: #6a98d3;
    border: solid 1px #b9c1cf;
    color: #fff;
    cursor: hand;
    display: inline-block;
    float: left;
    font: bold 1.0em Arial, Helvetica, sans-serif;
    margin: 0 0 5px 0;
    padding: 2px 4px;
    width: auto;
}

.btn_inbound, .btn_outbound, .btn_thirdParty { color: #333333 !important; }

label, .label, span.label, span.label-xsml, span.label-sml, span.label-med, span.label-lng, span.label-xlng, span.label-xxlng, span.label-xxxlng {
    color: #333;
    float: left;
    font: 1.0em;
    font-weight: bold;
    line-height: 1.4em;
    margin: 2px 3px 0 0;
    padding: 0;
    text-align: left;
}

.label-xsml { width: 30px; }

.label-sml { width: 50px; }

.label-med { width: 75px; }

.label-lng { width: 90px; }

.label-xlng { width: 150px; }

.label-xxlng { width: 250px; }

input, .textbox {
    border: 1px solid #AAAAAA;
    float: left;
    font-size: 1em;
    margin: 0 1px 2px 0;
    padding: 3px 1px;
}

.textbox-xsml { width: 22px; }

.textbox-sml { width: 50px; }

.textbox-med { width: 70px; }

.textbox-lng { width: 110px; }

.textbox-xlng { width: 180px; }

.textbox-xxlng { width: 250px; }

.textbox-xxxlng { width: 350px; }

div.main-banner div.app-banner .textbox-sml { width: 45px; }

div.main-banner div.app-banner .textbox-med { width: 55px; }

div.main-banner div.app-banner table.tbl-banner tr td input.textbox-appnumber { width: 115px; }

div.main-banner div.app-banner .tbl-banner-details tr th {
    text-align: left;
    text-transform: uppercase;
}

select, .dropdown {
    border: 1px solid #AAAAAA;
    float: left;
    font-size: 1.0em;
    margin: 0 2px 0 0;
    padding: 2px;
}

.dropdown-xsml { width: 30px; }

.dropdown-sml { width: 50px; }

.dropdown-med { width: 90px; }

.dropdown-lng { width: 120px; }

.dropdown-xlng { width: 180px; }

.dropdown-xxlng { width: 250px; }

.dropdown-xxxlng { width: 350px; }

.textarea {
    border: solid 1px #ccc;
    float: left;
    font: 1.0em Arial, Helvetica, sans-serif;
    margin: 0 2px 0 0;
    padding: 2px;
}

.textarea-xsml {
    height: 40px;
    width: 100px;
}

.textarea-sml {
    height: 50px;
    width: 130px;
}

.textarea-med {
    height: 60px;
    width: 150px;
}

.textarea-lng {
    height: 60px;
    width: 180px;
}

.textarea-xlng {
    height: 60px;
    width: 250px;
}

.textarea-xxlng {
    height: 60px;
    width: 400px;
}

.textarea-cbr {
    border: solid 1px #ccc;
    float: left;
    font: 1.7em/1.2em Courier New, Courier, Monospace;
    margin: 0 2px 0 0;
    padding: 2px;
}

.checkbox input, .checkbox label, .checkbox {
    border: solid 0 #ccc;
    border-collapse: collapse;
    float: left;
    font: 1.0em Arial, Helvetica, sans-serif;
    margin: 0 2px 2px 0;
    padding: 2px;
}

.container-wrapper .checkbox { padding: 0; }

.radio input {
    border: solid 0 #ccc;
    border-collapse: collapse;
    float: left;
    font: 1.0em Arial, Helvetica, sans-serif;
    margin: 0 2px 2px 0;
    padding: 2px;
}

input.calendar {
    border: none;
    float: left;
    padding: 0;
}


select, textarea,
.dropdown, .textbox,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input { font-size: 0.9em; }

table.table {
    display: inline-block;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    width: 100%;
}

caption {
    font-size: .8em;
    font-style: italic;
    padding: 0 0 5px 0;
    text-align: right;
}

table.table tr th {
    background-color: #F0F0F0;
    color: #000000;
    float: none;
    font-weight: bold;
    margin: 0;
    padding: 3px 3px;
    vertical-align: top;
    width: auto;
}

table.table tr td {
    float: none;
    margin: 0;
    padding: 1px 0 1px 0;
    vertical-align: top;
    width: auto;
}

div.fields table.table tr td {
    border-width: 0;
    padding-left: 10px;
}

table.table tr td a, table.table tr td a:link { color: #36c; }

table.table-flags {
    background-color: white;
    border: solid 1px #e7e7e7;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

table.table-flags tr td {
    float: left;
    height: 18px;
    margin: 0;
    padding: 0;
    width: 20%;
}

table.table-flags tr td span, table.table-flags tr td .label {
    margin: 0;
    padding: 0;
}

table.table-message {
    border: 1px solid #c0bfba;
    border-collapse: collapse;
    float: left;
    font: .9em Arial, Helvetica, sans-serif;
    overflow: hidden;
    width: 956px;
}

table.table-message tr th, table.table-message tr th span {
    background-color: #95b0dd;
    background-color: #c0bfba;
    color: #000;
    float: none;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 2px;
    text-align: left;
    width: auto;
}

table.table-message tr td {
    border: 1px solid #c0bfba;
    float: none;
    margin: 0;
    padding: 0 0 0 2px;
    vertical-align: top;
    width: auto;
}

table.table-message tr td a, table.table-message tr td a:link { color: #36c; }


.single-container,
.double-container,
.triple-container {
    float: left;
    font-size: 1.0em;
    margin: 0;
    padding: 1px 2px;
}

.single-container {
    width: 976px;
    width: 972px;
}

.double-container {
    width: 488px;
    width: 480px;
}

.triple-container {
    width: 321px;
    width: 309px;
}

.double-container .table { display: table; }

.header-single { width: 976px; }

.header-double { width: 488px; }

.header-triple { width: 321px; }

.hideMe {
    background-color: #d4e2f8;
    border: solid 0;
    cursor: inherit;
    float: left;
    height: 0;
    margin: 0;
    padding: 0;
    width: 1px;
}

/********** dynamic colors ***********/

.Highlight {
    background-color: #f7ff78;
    color: #333;
}

.bgOdd {
    background-color: #ccc;
    color: #333;
    float: none;
}

.textHighlight { color: red; }

.Protected_Hidden { display: none; }

div.Protected_Normal table.rcbDisabled tbody tr td.rcbInputCell input.rcbInput, .Protected_Normal {
    background-color: #EBF4FA;
    color: #333;
}

.Protected_Bright {
    background-color: #95b0dd;
    color: #475368;
}

.Protected_Red, .Unprotected_Red {
    background-color: #f99;
    border-bottom-color: #f7f7f7;
    border-left-color: #ccc;
    border-right-color: #f7f7f7;
    border-top-color: #ccc;
    color: red;
}

.Protected_Status {
    color: red;
    font-weight: bold;
}

div.Protected_NULL table.rcbDisabled tbody tr td.rcbInputCell input.rcbInput, .Protected_NULL {
    background-color: #fff;
    color: #333;
}

.Unprotected_Normal {
    background-color: #fff;
    color: #333;
}

div.Unprotected_Bright table.rcbDisabled tbody tr td.rcbInputCell input.rcbInput, .Unprotected_Bright {
    background-color: #f9ddf8;
    color: #333;
}

input[disabled] { color: #333 !important; }

.sample1 {
    background-color: #cfc;
    color: #93a78b;
}

.sample2 {
    background-color: #f9ddf8;
    color: #a78ba6;
}

.sample3 {
    background-color: #fbdccb;
    color: #af978a;
}

.sample4 {
    background-color: #d3d2fb;
    color: #706f8a;
}

.sample5 {
    background-color: #95b0dd;
    color: #475368;
}

hahaha.sample6 {
    background-color: #7ee7e7;
    color: #369;
}

/*************** modal pop-up *******************/

.modalBackground {
    background-color: #eaeff8;
    filter: alpha(opacity=70);
    opacity: .7;
}

.modalPopup {
    background-color: #f2f1ec;
    border-color: #eee;
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    width: 250px;
}

.modalPopup p { padding: 5px; }

/*************** fixes *******************/

.hideCalendar { display: none; }

div.UnProtected_Highlight table.rcbFocused tbody tr td.rcbInputCell input.rcbInput, .UnProtected_Highlight {
    background-color: #f7ff78;
    color: #333;
}

div.Protected_Highlight table.rcbDisabled tbody tr td.rcbInputCell input.rcbInput, .Protected_Highlight {
    background-color: #f7ff78;
    color: #333;
}

.RadMenu_Windows7 .rmRootGroup,
.RadPanelBar .rpRootGroup { border: 0px !important; }

.RadMenu_Windows7 .rmRootGroup { border-bottom: 1px solid #AABFD6 !important; }

/************ new classes *************/

.breadcrumb {
    display: inline-block;
    left: 180px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 18px;
    z-index: 5;
}

.breadcrumb ul {
    display: inline-block;
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
}

.breadcrumb ul li {
    background-color: transparent;
    background-image: url('../../images/breadcrumb.png');
    background-position: right center;
    background-repeat: no-repeat;
    display: inline;
    float: left;
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0 8px 0 0;
}

.breadcrumb ul li.end {
    background-image: none;
    padding: 0;
}

.breadcrumb ul li a {
    background-color: white;
    color: #333333;
    cursor: hand;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
}

.breadcrumb ul li.active a {
    color: #006699;
    font-weight: bold;
}

.breadcrumb ul li.selected { background-image: url('../../images/breadcrumb_active.png'); }

.breadcrumb ul li.selected a {
    background-color: #006699;
    color: #ffffff;
}

.breadcrumb ul li.disabled { background-image: url('../../images/breadcrumb_disabled.png'); }

.breadcrumb ul li.disabled a {
    background-color: #cccccc;
    color: #eeeeee;
    font-style: italic;
}

.launch-container {
    display: inline-block;
    margin: 0;
    min-height: 300px;
    padding: 5% 10%;
    width: 80%;
}

.launch-container .modules {
    display: inline-block;
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.launch-container .modules li.module {
    display: inline-block;
    float: left;
    list-style-image: none;
    list-style-type: none;
    margin: 10px 30px;
    padding: 0 34px 0 0;
    width: 250px;
    width: 215px;
}

.launch-container .modules li a {
    border-bottom: solid 1px #eeeeee;
    border-left: solid 1px #eeeeee;
    color: #333;
    display: inline-block;
    font-size: 3em;
    height: 2em;
    line-height: 1em;
    margin: 0;
    overflow: hidden;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 215px;
}

.launch-container .modules li a:hover { color: #ffffff; }

.launch-container .modules li.creditapp {
    background-color: transparent;
    background-image: url('../../images/module_creditapp.png');
    background-position: right center;
    background-repeat: no-repeat;
}

.launch-container .modules li.creditapp a { background-color: #F57545; }

.launch-container .modules li.creditals {
    background-color: transparent;
    background-image: url('../../images/module_creditals.png');
    background-position: right center;
    background-repeat: no-repeat;
}

.launch-container .modules li.creditals a { background-color: #F5A242; }

.launch-container .modules li.contractbook {
    background-color: transparent;
    background-image: url('../../images/module_contractbook.png');
    background-position: right center;
    background-repeat: no-repeat;
}

.launch-container .modules li.contractbook a { background-color: #824A91; }

.launch-container .modules li.bankloanbook {
    background-color: transparent;
    background-image: url('../../images/module_bankloanbook.png');
    background-position: right center;
    background-repeat: no-repeat;
}

.launch-container .modules li.bankloanbook a { background-color: #CECC42; }

.heading {
    background-color: #c0bfba;
    color: #000000;
    display: inline-block;
    font-weight: bold;
    margin: 0;
    padding: 2px 0 2px 0;
    width: 99%;
}

.labels {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: 130px;
}

.fields {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
}

.app-banner-title {
    background-color: #d6e4fa;
    display: inline-block;
    font-size: 0.7em;
    font-weight: bold;
    line-height: 1.2em;
    margin: 0;
    padding: 2px 10px;
    position: relative;
    width: 960px;
    z-index: 5;
}

.app-banner-title .toggle {
    border: solid 1px #9fbdeb;
    color: #6aa0f1;
    display: inline-block;
    float: right;
    height: 15px;
    padding: 0 0 0 4px;
    width: 11px;
}

.app-banner-title .toggle a {
    cursor: pointer;
    text-decoration: none;
}

.margin-top10 { margin-top: 10px; }

.req {
    background-image: url('../../images/req.gif');
    background-position: left top;
    background-repeat: no-repeat;
}

.validator {
    color: red;
    float: left;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 5px;
    white-space: nowrap;
}

.error {
    background: none repeat scroll 0 0 #FFEFDA;
    border: 1px solid #AC0C17;
}


.info {
    border: 0 none;
    color: #666666;
    font-size: 0.9em;
    margin-top: 8px;
    padding: 0px 0px 0px 5px;
}


.info-box {
    float: right;
    font-size: 1em;
    font-weight: bold;
    padding-left: 15px;
}

ul.inline { list-style-type: none; }

ul.inline li {
    display: inline;
    padding: 0px 3px 0px 3px;
}

/* Calendar Styles */

.calendar .ajax__calendar_container {
    background-color: #e2e2e2;
    border: solid 1px #cccccc;
    width: 230px;
}

.calendar .ajax__calendar_header {
    background-color: #ffffff;
    margin-bottom: 4px;
}

.calendar .ajax__calendar_title,
.calendar .ajax__calendar_next,
.calendar .ajax__calendar_prev {
    color: #004080;
    padding-top: 3px;
}

.calendar .ajax__calendar_body {
    background-color: #e9e9e9;
    border: solid 1px #cccccc;
    width: 230px;
}

.calendar .ajax__calendar_dayname {
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 2px;
    text-align: center;
}

.calendar .ajax__calendar_day { text-align: center; }

.calendar .ajax__calendar_hover .ajax__calendar_day,
.calendar .ajax__calendar_hover .ajax__calendar_month,
.calendar .ajax__calendar_hover .ajax__calendar_year,
.calendar .ajax__calendar_active {
    background-color: #ffffff;
    color: #004080;
    font-weight: bold;
}

.calendar .ajax__calendar_today { font-weight: bold; }

.calendar .ajax__calendar_other,
.calendar .ajax__calendar_hover .ajax__calendar_today,
.calendar .ajax__calendar_hover .ajax__calendar_title { color: #bbbbbb; }

/*bootstrap dropdown menu for scrolling */

ul.scroll-menu {
    -moz-border-radius: 0 !important;
    -moz-box-shadow: none;
    -moz-overflow-scrolling: touch;
    -ms-border-radius: 0 !important;
    -ms-box-shadow: none;
    -ms-overflow-scrolling: touch;
    -o-border-radius: 0 !important;
    -o-box-shadow: none;
    -o-overflow-scrolling: touch;
    -webkit-border-radius: 0 !important;
    -webkit-box-shadow: none;
    -webkit-overflow-scrolling: touch;
    border-left: none;
    border-radius: 0 !important;
    border-right: none;
    box-shadow: none;
    display: inherit !important;
    height: auto;
    left: 0 !important;
    margin: 0;
    max-height: 500px;
    overflow-scrolling: touch;
    overflow-x: auto;
    position: relative;
    top: 0 !important;
    width: 100%;
}

ul.scroll-menu-2x { max-height: 230px; }