<!-- add class 'in' to .panel-collapse to default to OPEN -->

<div ng-show="isHmdaAddressApplicable()">
    <div class="row">
        <div class="clearfix col col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="georgia underlined marginbottom10"><span>&nbsp;Improved Property Address</span></h3>
        </div>
        <div class="  marginleft10 clearfix col col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label>Check here if the improved property address is the same as the collateral address</label>
            <input type="checkbox" name="address" ng-model="sameAsResidence.selected" class="width100" ng-change="setAddress()" />
        </div>
    </div>

    <div data-ng-repeat="prod in allProducts">
        <div ng-show="isHmdaAddressApplicableForProduct(prod)">
            <h3 class="georgia underlined clearfix" style="text-align: left; margin-left: 20px;"><span>{{prod.productName}}</span></h3>
            <div class="row">
                <dl class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                    <dt style="font-weight: normal">Address Line 1 (P.O Box not allowed):<span class="star">*</span></dt>
                    <dd style="width: 200px">
                        <input valid="text" vmsg="Address Line 1 required" type="text" ng-model="prod.HMDA.propertyImproved.addrLineList.addrLine1" maxlength="30" class="width100 " value="" placeholder="">
                    </dd>
                </dl>
            </div>
            <div class="row">
                <dl class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                    <dt style="font-weight: normal">City:<span class="star">*</span></dt>
                    <dd style="width: 200px">
                        <input valid="text" vmsg="City required" type="text" ng-model="prod.HMDA.propertyImproved.city" maxlength="25" class="width100 " value="" placeholder="">
                    </dd>
                </dl>
            </div>
            <div class="row">
                <dl class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                    <dt style="font-weight: normal">State<span class="star">*</span></dt>
                    <dd style="width: 400px">
                        <select valid="select" vminval="0" vmsg="State required" class="select"
                            ng-model="prod.HMDA.propertyImproved.state"
                            ng-options="state.abbreviation as state.name for state in common.usStates">
                        </select>
                    </dd>
                </dl>
                <div class="row">
                    <dl class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                        <dt style="font-weight: normal">Zip:<span class="star">*</span></dt>
                        <dd style="width: 200px">
                            <input valid="text" vmsg="Zip required" class="zipmask" ng-model="prod.HMDA.propertyImproved.zip" maxlength="9" type="text" placeholder="" class="width100 ">
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <dl class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                    <dt style="font-weight: normal">Property Type:<span class="star">*</span></dt>
                    <dd style="width: 180px">
                        <select valid="select" vminval="0" vmsg="Property Type required" class="select"
                            ng-model="prod.HMDA.propertyType"
                            ng-options="type.key as type.value for type in common.ddHmdaPropertyType">
                        </select>
                    </dd>
                </dl>
            </div>
           <div class="row">
                <dl class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                    <dt style="font-weight: normal">Occupancy of property being improved:<span class="star">*</span></dt>
                    <dd style="width: 200px">
                        <select valid="select" vminval="0" vmsg="Occupancy of the Collateral Property required" class="select"
                            ng-model="prod.HMDA.occupancy"
                            ng-options="type.key as type.value for type in common.ddCollateralPropertyOccupancy">
                        </select>
                        <span class="select">Select</span>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<!-- end .panel-body -->
