<div class="hide">
    <div id="CreditDetailDisclaimerModalPopup" style="width: 750px">
        <div class="row">
            <span class="blacktext">Wisconsin Marital Property Disclosure</span>
            <div class="containerz">
                <div class="marginleft20 margintop10">
                    <div>
                        <div class="col alert alert-information" style="max-width: 100%; margin-right: 8px;">
                            <p><strong>IMPORTANT: </strong>Read to customer</p>
                        </div>
                    </div>
                    <div class="marginbottom10"></div>
                    <div style="width: 100%">
                        <span>{{applicationInfo.WIDisclosureContent}}
                        </span>
                    </div>
                    <div class="marginbottom10"></div>
                    <div>
                        <div class="col alert alert-info-level1" style="max-width: 100%; margin-right: 8px;">
                            <p><strong>REMINDER: </strong>If the customer is present, please print the Wisconsin Marital Property Disclosure from Forms OnLine and provide to the customer</p>
                        </div>
                    </div>
                    <div class="marginbottom10 margintop20"></div>
                    <div align="">
                        <button class="btn btn-primary" style="height: 35px" ng-click="setWIDisclousure()">Confirm Read to Customer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
