@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Die Chart</h1>
    <p class="lead">
        SD Process Equipments is a leading Indian manufacturer specialised Flowmeter / Rotameter taper glass tube for the industrial, laboratory and research market sectors. Our highly specialised in-house resources underpin the production of flow meters, anaesthesia tubes, precision bore tubing and special glass apparatus. SDPE is in a unique position to offer a range of highly specialised and skilled services under one roof to provide industry with precision glass components. This gives SDPE complete control over quality and tolerances at all stages and means our customers can be sure that their components are produced efficiently, competitively and to the highest standards. Our scientific glassblowers can produce industrial and research glassblowing products to the highest standard. Our Products can be used in Pharmaceutical, oil, chemicals, petro chemicals, Solvents, avionics and telecommunications industries, as well as universities and hospitals.
    </p>
    <p><a class="btn btn-default" href="http://sdpeonline.com/">Learn more &raquo;</a></p>
</div>
