
<article class="col-sm-12 col-md-12   sortable-grid ui-sortable col-lg-12">


    <div class="jarviswidget  jarviswidget-sortable jarviswidget-color-blueDark" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
        <div class="form-bootstrapWizard">
            <ul class="bootstrapWizard form-wizard">
                <li class="active" data-target="#step1">
                    <a href="#tab1" data-toggle="tab"> <span class="step">1</span> <span class="title">Basic information</span> </a>
                </li>
                <li data-target="#step2">
                    <a href="#tab2" data-toggle="tab"> <span class="step">2</span> <span class="title">Extra Details</span> </a>
                </li>
                <li data-target="#step3">
                    <a href="#tab3" data-toggle="tab"> <span class="step">3</span> <span class="title">Roles</span> </a>
                </li>
                <li data-target="#step4">
                    <a href="#tab4" data-toggle="tab"> <span class="step">4</span> <span class="title">Save Form</span> </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <header role="heading">
            <span class="widget-icon"> <i class="fa "></i> </span>
            <h2 class="ng-binding">Publish App</h2>

            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
        </header>

        <div role="content">

            <div class="jarviswidget-editbox">

            </div>

            <div class="form-horizontal">

               


                <fieldset class="">
                    <legend>STORE LISTING</legend>

                    <div class="form-group ">

                        <label class=" col-md-3 col-lg-12">Field marked with <span class="txt-color-red">*</span> need to be filled before publishing</label>
                        <div class="col-md-9 ">
                            <div class="icon-addon addon-sm  ">

                                <label class="glyphicon  "></label>
                            </div>
                        </div>

                    </div><legend class=" col-md-3 col-lg-12 ">PRODUCT DETAILS</legend>
<div class="form-group ">

                                  <div class="col-md-9 ">
                                      <div class="icon-addon addon-sm  ">

                                          <label class="glyphicon  "></label>
                                      </div>
                                  </div>

</div><div class="form-group ">

                        <label class="input-xs col-md-3 col-lg-4 control-label">Title <span class="txt-color-red">*</span></label>
                        <div class="col-md-9 col-lg-8">
                            <div class="icon-addon addon-sm  ">
                                <input type="text" ng-model="publish.title" class="form-control input-xs" value="">
                                <label class="glyphicon  glyphicon-pencil"></label>
                                <label class=" col-md-3 col-lg-12">English (united State) - En-US</label>
                            </div>
                        </div>

                    </div><div class="form-group ">

                        
                        <div class="col-md-9 ">
                            <div class="icon-addon addon-sm  ">

                                <label class="glyphicon  "></label>
                            </div>
                        </div>

                    </div><div class="form-group ">

                        <label class="col-md-3 col-lg-4 control-label">Short description: <span class="txt-color-red">*</span></label>
                        <div class="col-md-9 col-lg-8">
                            <div class="icon-addon addon-sm  ">
                                <textarea type="text" ng-model="publish.shortdesc" style="height: 75px" class="form-control "></textarea>
                                    <label class="glyphicon  glyphicon-pencil"></label>
</div>
                        </div>

                    </div><div class="form-group ">

                        <label class="col-md-3 col-lg-4 control-label">Full description: <span class="txt-color-red">*</span></label>
                        <div class="col-md-9 col-lg-8">
                            <div class="icon-addon addon-sm  ">
                                <textarea type="text" ng-model="publish.fulldesc" style="height: 75px" class="form-control "></textarea>
                                <label class="glyphicon  glyphicon-pencil"></label>
                            </div>
                        </div>

                          </div><div class="form-group ">

                                    <label class=" col-md-3 col-lg-12">Please check out these tips and how to create policy compliant app description to avoid some common reason for app suspension.</label>
                                    <div class="col-md-9 col-lg-10">
                                        <div class="icon-addon addon-sm  ">

                                            <label class="glyphicon  "></label>
                                        </div>
                                    </div>

                                </div>

                    <legend class=" col-md-3 col-lg-3">GRAPHIC ASSETS</legend>
                    <div class="form-group ">

                        <div class="col-md-9 col-lg-10">
                            <div class="icon-addon addon-sm  ">

                                <label class="glyphicon  "></label>
                            </div>
                        </div>

                          </div><div class="form-group ">

                                    <label class=" col-md-3 col-lg-12">If you haven't added localized graphics for each mode. graphics for your default will be used.</label>
                                    <div class="col-md-9 col-lg-10">
                                        <div class="icon-addon addon-sm  ">

                                            <label class="glyphicon  "></label>
                                        </div>
                                    </div>

                                </div>
                    
                    
                  
                        <!-- SuperBox -->
                        <div class="superbox col-lg-12">
                            <div class="superbox-list ">
                                <img  src="Content/img/superbox/superbox-thumb-1.jpg" data-img="Content/img/superbox/superbox-full-1.jpg" alt="My first photoshop layer mask on a high end PSD template theme" title="Miller Cine" class="superbox-img">
                            </div>
                             <div class="superbox-list">
                                 <img src="Content/img/superbox/superbox-thumb-2.jpg" data-img="Content/img/superbox/superbox-full-2.jpg" alt="My first photoshop layer mask on a high end PSD template theme" title="Bridge of Edgen" class="superbox-img">
                            </div>
                            <div class="superbox-list">
                                <img src="Content/img/superbox/superbox-thumb-3.jpg" data-img="Content/img/superbox/superbox-full-3.jpg" alt="My first photoshop layer mask on a high end PSD template theme" title="Lines of Friendship" class="superbox-img">
                            </div>
                            <div class="superbox-list">
                                <img  src="Content/img/superbox/superbox-thumb-24.jpg" data-img="Content/img/superbox/superbox-full-24.jpg" alt="My first photoshop layer mask on a high end PSD template theme" title="Traning" class="superbox-img">
                            </div>
                            
                            

                            <div class="superbox-list">
                                
                                
                                <a href="javascript:void(0);" ng-click="ShowDropZoneBox();" ng-hide="ShowDropZone" class="btn btn-primary btn-circle btn-xl"><i class="glyphicon glyphicon-upload fa-spin"></i></a>
                            </div>
                        </div>
                        <!-- /SuperBox -->

                    <div class="form-group ">

                        <label class=" col-md-3 col-lg-5">Learn more about graphic assets</label>
                        <div class="col-md-9 col-lg-10">
                            <div class="icon-addon addon-sm  ">

                                <label class="glyphicon  "></label>
                            </div>
                        </div>

                    </div><legend class=" col-md-3 col-lg-2">Screenshots</legend><div class="form-group ">

                        
                        <div class="col-md-9 col-lg-10">
                            <div class="icon-addon addon-sm  ">
                                <div ng-include src="'App/Admin/Views/PhotoUpload/PictureUpload.html'"></div>
                                <label class="glyphicon  "></label>
                            </div>
                        </div>

                    </div><div class="form-group ">

                        <label class=" col-md-3 col-lg-12">Default - English (United States) - en-US JPEG or 24-bit PNG (no alpha). Min length for any side: 320px.  Max length for any side: 3840px/. At least 2 Screenshots are required overall. Max 8 screenshots per type. Drag to reorder or to move between types.</label>
                        <div class="col-md-9 ">
                            <div class="icon-addon addon-sm  ">

                                <label class="glyphicon  "></label>
                            </div>
                        </div>

                    </div><div class="form-group ">

                        <label class=" col-md-3 col-lg-12">For your app to be showcased in the 'Designed for tablets' list in the UAP Store. you need to upload at leaset one 7-inch and one 10-inch screenshot. If you previously uploaded screenshots. make sure to move them into the right area below.</label>
                        <div class="col-md-9 ">
                            <div class="icon-addon addon-sm  ">

                                <label class="glyphicon  "></label>
                            </div>
                        </div>

                    </div><div class="form-group ">

                        <label class=" col-md-3 col-lg-9">Learn how tablet screenshot will be displayed in the store listing.</label>
                        <div class="col-md-9 ">
                            <div class="icon-addon addon-sm  ">

                                <label class="glyphicon  "></label>
                            </div>
                        </div>

                    </div><legend class=" col-md-3 col-lg-3">CATEGORIZATION</legend><div class="form-group ">

                        
                        <div class="col-md-9 ">
                            <div class="icon-addon addon-sm  ">

                                <label class="glyphicon  "></label>
                            </div>
                        </div>

                    </div><div class="form-group ">

                        <label class="col-md-3 col-lg-3 control-label">Application: <span class="txt-color-red">*</span></label>
                        <div class="col-md-9 ">
                            <div class="icon-addon addon-sm  ">
                                <select ng-model="publish.apptype" class="form-control m-b ">
                                    <option ng-repeat="item in dropdown.ApplicationType" value="{{item.key}}">{{item.value}}</option>

                                </select>
                                <label class="glyphicon  glyphicon-pencil"></label>
                            </div>
                        </div>

                    </div><div class="form-group ">

                        <label class="col-md-3 col-lg-3 control-label">Module: <span class="txt-color-red">*</span></label>
                        <div class="col-md-9 ">
                            <div class="icon-addon addon-sm  ">
                                <select ng-model="publish.appmodule" class="form-control m-b ">
                                    <option ng-repeat="item in dropdown.AppModule" value="{{item.key}}">{{item.value}}</option>
                                </select>
                                <label class="glyphicon  glyphicon-pencil"></label>
                            </div>
                        </div>

                    </div><div class="form-group ">

                        <label class="col-md-3 col-lg-3 control-label">Group: <span class="txt-color-red">*</span></label>
                        <div class="col-md-9 ">
                            <div class="icon-addon addon-sm  ">
                                <select ng-model="publish.appgroup" class="form-control m-b ">
                                    <option ng-repeat="item in dropdown.AppGroup" value="{{item.key}}">{{item.value}}</option>
                                </select>
                                <label class="glyphicon  glyphicon-pencil"></label>
                                <label class=" col-md-3 col-lg-5">Learn more about content rating.</label>
                            </div>

                        </div>

                          </div><div class="form-group ">

                        
                                    <div class="col-md-9 ">
                                        <div class="icon-addon addon-sm  ">

                                            <label class="glyphicon  "></label>
                                        </div>
                                    </div>

                                </div>
                    <legend class=" col-md-3 col-lg-3">CONTACT DETAILS</legend>
                    <div class="form-group ">

                        
                        <div class="col-md-9 ">
                            <div class="icon-addon addon-sm  ">

                                <label class="glyphicon  "></label>
                            </div>
                        </div>

                    </div><div class="form-group ">

                        <label class="col-md-3 col-lg-3 control-label">Website</label>
                        <div class="col-md-9 ">
                            <div class="icon-addon addon-sm  ">
                                <input type="text" ng-model="publish.website" class="form-control " value="">
                                <label class="glyphicon  glyphicon-pencil"></label>
                            </div>
                        </div>

                    </div><div class="form-group ">

                        <label class="col-md-3 col-lg-3 control-label">Email</label>
                        <div class="col-md-9 ">
                            <div class="icon-addon addon-sm  ">
                                <input type="text" ng-model="publish.email" class="form-control " value="">
                                <label class="glyphicon  glyphicon-pencil"></label>
                                <label class=" col-md-3 col-lg-12">Please provide an email address where you may be contacted. This address will be publicly displayed with your app.</label>

                            </div>
                        </div>

                    </div><div class="form-group ">

                        <div class="col-md-9 ">
                            <div class="icon-addon addon-sm  ">

                                <label class="glyphicon  "></label>
                            </div>
                        </div>

                    </div><div class="form-group ">

                        <label class="col-md-3 col-lg-3 control-label">Phone</label>
                        <div class="col-md-9 ">
                            <div class="icon-addon addon-sm  ">
                                <input type="text" ng-model="publish.phone" class="form-control " value="">
                                <label class="glyphicon  glyphicon-pencil"></label>
                            </div>
                        </div>

                    </div><legend class=" col-md-3 col-lg-3">PRIVACY POLICY</legend><div class="form-group ">

                        
                        <div class="col-md-9 ">
                            <div class="icon-addon addon-sm  ">

                                <label class="glyphicon  "></label>
                            </div>
                        </div>

                    </div><div class="form-group ">

                        <div class="col-md-9 ">
                            <div class="icon-addon addon-sm  ">

                                <label class="glyphicon  "></label>
                            </div>
                        </div>

                    </div><div class="form-group ">
                       
                        <label class="col-md-3 col-lg-3 control-label">Privacy Policy</label>
                        <div class="col-md-9 ">
                            <div class="icon-addon addon-sm  ">
                                <input type="text" ng-model="publish.privacy" class="form-control " value="">
                                <label class="glyphicon  glyphicon-pencil"></label>
                                <label class=" col-md-3 col-lg-11">If you wish to provide a privacy policy URL for this application. Please enter it below.</label>
     </div>
                        </div>

                    </div><div class="form-group ">

                        <label class=" col-md-3 col-lg-3"></label>
                        <div class="col-md-9 ">
                            <div class="icon-addon addon-sm  ">
                                <div class="checkbox i-checks"><label class="ng-binding"> <input type="checkbox" value="" checked="{{prop.chkvalue}}"> <i></i> Not Submitting a privacy policy URL at this time. Learn More </label></div>
                                <label class="glyphicon  "></label>
                            </div>
                        </div>

                    </div><div class="form-group ">

                        <label class=" col-md-3 col-lg-3"></label>
                        <div class="col-md-9 ">
                            <div class="icon-addon addon-sm  ">
                                <a class="btn btn-sm btn-primary " ng-click="Submit(publish)"><strong class="ng-binding">Publish App</strong></a>
                                <label class="glyphicon  "></label>
                            </div>
                        </div>

                    </div>



                </fieldset>


            </div>

        </div>

    </div>

</article>