
 <!-- END HEADER -->
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel" ng-show="webstate.menu">
    
    <!-- User info -->
    <div class="login-info">
        <span>
            <!-- User image size is adjusted inside CSS, it should stay as it -->

            <a href="javascript:void(0);" id="show-shortcut" >
                <img ng-src="{{$storage.user.profile.avatar}}" alt="me" class="online" />
                <span>
                    {{$storage.user.profile.displayname}}
                </span>
                <i class="fa fa-angle-down"></i>
            </a>

        </span>
    </div>
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive-->
    
    <nav ng-show="!URLWrap.iframeSrc">
        <ul>
            
            <li ng-repeat="item in $storage.user.linkAccess">


               
                <a ng-mouseup="MenuNavigate(item.submenu)" href="javascript:void(0);" 
                   ng-if="item.submenu">
                     <!--img src="Content/img/app_icon/wf.jpg" class="superbox-img" ng-if="item.ModuleIconUrl">
                    <img src="Content/img/app_icon/{{item.ModuleIconUrl}}" class="superbox-img" ng-if="item.ModuleIconUrl">
       
                    <i class="fa  fa-minus {{item.ModuleIconUrl}}"></i-->
                    <span class="menu-item-parent">{{item.ModuleName}}</span>
                </a>
                <ul ng-if="item.submenu">
                    <li ng-repeat="subitem in item.submenu">
                        <div 
                             ng-if="!subitem.submenu"
                             ng-switch on="subitem.ModuleUrl.substring(0, 4)">
                            <div class="animate-switch" ng-switch-when="http">
                                <a href="{{subitem.ModuleUrl}}" target="_blank">
                                    <!--i class="fa  fa-minus {{subitem.ModuleIconUrl}}"></!--i-->
                                    <span class="menu-item-parent">="{{subitem.ModuleName}}</spa</span>
                                </a>
                            </div>
                            <div class="animate-switch" ng-switch-default>
                                <a ui-sref="{{subitem.ModuleUrl}}">
                                    <!--i class="fa  fa-minus {{subitem.ModuleIconUrl}}"></!--i!-->
                                    <span class="menu-item-parent">{{subitem.ModuleName}}</sp</span>
                                </a>
                            </div>
                        </div>
                       
                        <a ng-if="subitem.submenu" href="javascript:void(0)">
                            <i class="fa fa-lg fa-fw fa-plus {{subitem.ModuleIconUrl}}"></i>
                            <span class="menu-item-parent">{{subitem.ModuleName}}</span>
                        </a>
                        <ul ng-if="subitem.submenu">
                            <li ng-repeat="subsubitem in subitem.submenu">

                                <div class="animate-switch-container"
                                     ng-switch on="subsubitem.ModuleUrl.substring(0, 4)">
                                    <div class="animate-switch" ng-switch-when="http">
                                        <a href="{{subsubitem.ModuleUrl}}" target="_blank">
                                            <!--i class="fa  fa-minus {{subsubitem.ModuleIconUrl}}"></!--i-->
                                            <span class="menu-item-parent">{{subsubitem.ModuleName}}</span>
                                        </a>
                                    </div>
                                 
                                    <div class="animate-switch" ng-switch-default>
                                        <a ui-sref="{{subsubitem.ModuleUrl}}">
                                            <!--i class="fa  fa-minus {{subsubitem.ModuleIconUrl}}"></!--i!-->
                                            <span class="menu-item-parent">{{subsubitem.ModuleName}}</span>
                                        </a>
                                    </div>
                                </div>



                            </li>

                        </ul>



                    </li>

                </ul>
                    </li>

        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>