

<div ng-show="PathCdSaving.length != 0" class="tab-contentGrey ">
    <table class="table table-striped ">
        <thead>
            <tr>
                <th>Security Type</th>
                <th>Account Number</th>
                <th>Amount</th>
                <th>Address</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="sum in PathCdSaving" wmgautoheight>
                <td class="leftlabel">{{sum.collType}}</td>
                <td class="leftlabel">{{sum.acctNumber}}</td>
                <td class="leftlabel">{{sum.amount}}</td>

                <td class="leftlabel">{{sum.collAddress.line1}}  {{sum.collAddress.line2}}  {{sum.collAddress.city}}  {{sum.collAddress.state}} - {{sum.collAddress.zip}}</td>

                <td>

                    <a  class="graytext js-add pointer" ng-click="editCollateral($index,'CDSaving','#CollateralsCD-','CD Saving','false','Close')">Edit</a>
                    <a class="graytext js-add  " >|</a>
                    <a ng-click="removeCollateral($index,'CDSaving')" class="pointer "ng-attr-href="javascript:void(0)" >Remove</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>
