<div class="containerz">
    <div class="leftz80">
        <span class="leftnormallabel">Do you have the authority to apply for joint credit on behalf of all co-applicants, or if more than one applicant present, is it your intent to apply jointly:</span><span class="star">*</span>
    </div>
    <div class="rightz20 col-lg-12">
        <select valid="select" vminval="0" vmsg="Do you have the authority to apply for joint credit on behalf of all co-applicants, or if more than one applicant present, is it your intent to apply jointly required" class="select" ng-model="applicationInfo.jointApplicationApprovalInd" style="width: 160px"
            ng-options="type.key as type.value for type in common.SelectYesNo">
        </select>
    </div>
</div>

