@{
    ViewBag.Title = "Forgot Password - Shifa - Homeopathy";
    Layout = "~/Content/themes/BootStrapSkin1/_Layout.cshtml";
}
<div class="login-container">
    <div class="position-relative">
        
        <div id="forgot-box" class=" forgot-box widget-box no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header red lighter bigger">
                        <i class="icon-key"></i>
                        Retrieve Password
                    </h4>

                    <div class="space-6"></div>
                    <p>
                        Enter your email and to receive instructions
                    </p>

                    <form action="~/Account/Forgot" method="post">
                        <fieldset>
                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    <input name="emailid" type="email" class="form-control" placeholder="Email">
                                    <i class="icon-envelope"></i>
                                </span>
                            </label>

                            <div class="clearfix">
                                <button type="submit" class="width-35 pull-right btn btn-sm btn-danger">
                                    <i class="icon-lightbulb"></i>
                                    Send Me!
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div><!-- /widget-main -->

                <div class="toolbar center">
                    <a href="~/Account/Login" class="back-to-login-link">
                        Back to login
                        <i class="icon-arrow-right"></i>
                    </a>
                </div>
            </div><!-- /widget-body -->
        </div><!-- /forgot-box -->


    </div>
</div>