<div class="containerZ">
    <div class="leftz greyrightborder">
        <div class="row">
            <div class="clearfix col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="georgia underlined marginbottom10"><span>&nbsp;Assets Details</span></h3>
            </div>
            <dl style="background-color: #efefef!important" class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt><strong class="underlined linkHeader">Assets</strong></dt>
                <dd style="width: 100px">
                    <strong class="underlined linkHeader">How Held</strong>
                </dd>
                <dd style="width: 100px">
                    <strong class="underlined linkHeader">Balances</strong>
                </dd>
            </dl>
            <dl class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <label>Cash in Wells Fargo:</label></dt>
                <dd style="width: 100px">
                    <select class="select" valid="select" vif="assets[0].balance > 0" ng-change="getTotalAssets()" ng-model="assets[0].howHeld"
                        ng-options="type.key as type.value for type in common.SelectAppSpouseJoint" style="width: 100px">
                    </select>
                </dd>
                <dd style="width: 100px">
                    <input valid="number" vif="assets[0].howHeld != ''" type="text" class="width100 " ng-model="assets[0].balance"  ng-change="getTotalAssets()" value="" placeholder="$0.00" maxlength="10">
                </dd>
            </dl>
            <dl class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <label>Cash in other institutions: </label>
                </dt>
                <dd style="width: 100px">
                    <select class="select" valid="select" vif="assets[1].balance > 0" ng-model="assets[1].howHeld"
                        ng-options="type.key as type.value for type in common.SelectAppSpouseJoint" style="width: 100px">
                    </select>
                </dd>
                <dd style="width: 100px">
                    <input valid="number" vif="assets[1].howHeld != ''" type="text" class="width100 " ng-model="assets[1].balance" ng-change="getTotalAssets()" value="" placeholder="$0.00" maxlength="10">
                </dd>
            </dl>
            <dl class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <label>Other Securities Owned**: </label>
                </dt>
                <dd style="width: 100px">
                    <select class="select" valid="select" vif="assets[2].balance > 0" ng-model="assets[2].howHeld"
                        ng-options="type.key as type.value for type in common.SelectAppSpouseJoint" style="width: 100px">
                    </select>
                </dd>
                <dd style="width: 100px">
                    <input valid="number" vif="assets[2].howHeld != ''" type="text" class="width100 " ng-model="assets[2].balance" ng-change="getTotalAssets()" value="" placeholder="$0.00" maxlength="10">
                </dd>
            </dl>
            <dl class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <label>IRA/Keogh/Pension:</label></dt>
                <dd style="width: 100px">
                    <select class="select" valid="select" vif="assets[3].balance > 0" ng-model="assets[3].howHeld"
                        ng-options="type.key as type.value for type in common.SelectAppSpouseJoint" style="width: 100px">
                    </select>
                </dd>
                <dd style="width: 100px">
                    <input valid="number" vif="assets[3].howHeld != ''" type="text" class="width100 " ng-model="assets[3].balance" ng-change="getTotalAssets()" value="" placeholder="$0.00" maxlength="10">
                </dd>
            </dl>
            <dl class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <label>Notes Receivable (Sch 1):</label></dt>
                <dd style="width: 100px">
                    <select class="select" valid="select" vif="assets[4].balance > 0" ng-model="assets[4].howHeld"
                        ng-options="type.key as type.value for type in common.SelectAppSpouseJoint" style="width: 100px">
                    </select>
                </dd>
                <dd style="width: 100px">
                    <input valid="number" vif="assets[4].howHeld != ''" type="text" class="width100 " ng-model="assets[4].balance" ng-change="getTotalAssets()" value="" placeholder="$0.00" maxlength="10">
                </dd>
            </dl>
            <dl class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <label>Notes Receivable (Sch 2):</label></dt>
                <dd style="width: 100px">
                    <select class="select" valid="select" vif="assets[5].balance > 0" ng-model="assets[5].howHeld"
                        ng-options="type.key as type.value for type in common.SelectAppSpouseJoint" style="width: 100px">
                    </select>
                </dd>
                <dd style="width: 100px">
                    <input valid="number" vif="assets[5].howHeld != ''" type="text" class="width100 " ng-model="assets[5].balance" ng-change="getTotalAssets()" value="" placeholder="$0.00" maxlength="10">
                </dd>
            </dl>
            <dl class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <label class="underlined bolded">Other Investments:</label></dt>
                <dd style="width: 100px"></dd>
                <dd style="width: 100px"></dd>
            </dl>
            <dl class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <input type="text" ng-model="assets[6].name"  /></dt>
                <dd style="width: 100px">
                    <select class="select" valid="select" vif="assets[6].balance > 0" ng-model="assets[6].howHeld"
                        ng-options="type.key as type.value for type in common.SelectAppSpouseJoint" style="width: 100px">
                    </select>
                </dd>
                <dd style="width: 100px">
                    <input valid="number" vif="assets[6].howHeld != ''" type="text" class="width100 " ng-model="assets[6].balance" ng-change="getTotalAssets()" value="" placeholder="$0.00" maxlength="10">
                </dd>
            </dl>
            <dl class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <label class="underlined bolded">Other Investments:</label></dt>
                <dd style="width: 100px"></dd>
                <dd style="width: 100px"></dd>
            </dl>
            <dl class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <input type="text"  ng-model="assets[7].name" /></dt>
                <dd style="width: 100px">
                    <select class="select" ng-model="assets[7].howHeld" valid="select" vif="assets[7].balance > 0"
                        ng-options="type.key as type.value for type in common.SelectAppSpouseJoint" style="width: 100px">
                    </select>
                </dd>
                <dd style="width: 100px">
                    <input valid="number" vif="assets[7].howHeld != ''" type="text" class="width100 " ng-model="assets[7].balance" ng-change="getTotalAssets()" value="" placeholder="$0.00" maxlength="10">
                </dd>
            </dl>
            <dl class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <label>Automobiles: </label>
                </dt>
                <dd style="width: 100px">
                    <select class="select" valid="select" vif="assets[8].balance > 0" ng-model="assets[8].howHeld"
                        ng-options="type.key as type.value for type in common.SelectAppSpouseJoint" style="width: 100px">
                    </select>
                </dd>
                <dd style="width: 100px">
                    <input valid="number" vif="assets[8].howHeld != ''" type="text" class="width100 " ng-model="assets[8].balance" ng-change="getTotalAssets()" value="" placeholder="$0.00" maxlength="10">
                </dd>
            </dl>
            <dl class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <label>Personal Property: </label>
                </dt>
                <dd style="width: 100px">
                    <select class="select" valid="select" vif="assets[9].balance > 0" ng-model="assets[9].howHeld"
                        ng-options="type.key as type.value for type in common.SelectAppSpouseJoint" style="width: 100px">
                    </select>
                </dd>
                <dd style="width: 100px">
                    <input valid="number" vif="assets[9].howHeld != ''" type="text" class="width100 " ng-model="assets[9].balance" ng-change="getTotalAssets()" value="" placeholder="$0.00" maxlength="10">
                </dd>
            </dl>


            <dl class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <label class="underlined bolded">Other Assets:</label></dt>
                <dd style="width: 100px"></dd>
                <dd style="width: 100px"></dd>
            </dl>


            <dl class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <input type="text"  ng-model="assets[10].name" />
                </dt>
                <dd style="width: 100px">
                    <select class="select" valid="select" vif="assets[10].balance > 0" ng-model="assets[10].howHeld"
                        ng-options="type.key as type.value for type in common.SelectAppSpouseJoint" style="width: 100px">
                    </select>
                </dd>
                <dd style="width: 100px">
                    <input valid="number" vif="assets[10].howHeld != ''" type="text" class="width100 " ng-model="assets[10].balance" ng-change="getTotalAssets()" value="" placeholder="$0.00" maxlength="10">
                </dd>
            </dl>
            <dl style="width: 100%" class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <label></label>
                </dt>

                <dd style="width: 100px; font-size: 12px!important">
                    <label>Total Assets:</label>

                </dd>
                <dd style="width: 100px">
                    <input  id="tmp3" type="text" class="width100 " ng-change="getNetWorth()" ng-model="assetInfo.totalAssets" placeholder="$0.00" maxlength="12">
                </dd>
            </dl>
            <dl style="width: 100%" class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">

                <dd style="width: 100%!important; text-align: center">
                    <label>
                        <div>** Provide copies of brokerage statements:</div>
                    </label>

                </dd>
            </dl>
        </div>
    </div>
    <div class="rightz">
        <div class="row">
            <div class="clearfix col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="georgia underlined marginbottom10"><span>&nbsp;Liabilities Details</span></h3>
            </div>
            <dl style="background-color: #efefef!important" class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt><strong class="underlined linkHeader">Liabilities</strong></dt>
                <dd style="width: 100px">
                    <strong class="underlined linkHeader">How Held</strong>
                </dd>
                <dd style="width: 100px">
                    <strong class="underlined linkHeader">Balances</strong>
                </dd>
            </dl>
            <dl style="width: 100%" class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <label>Income Taxes:</label></dt>
                <dd style="width: 100px">
                    <select class="select" valid="select" vif="liabilities[0].balance > 0" ng-model="liabilities[0].howHeld"
                        ng-options="type.key as type.value for type in common.SelectAppSpouseJoint" style="width: 100px">
                    </select>
                </dd>
                <dd style="width: 100px">
                    <input valid="number" vif="liabilities[0].howHeld != ''" type="text" class="width100 " ng-model="liabilities[0].balance" ng-change="getTotalLiabilities()" value="" placeholder="$0.00" maxlength="10">
                </dd> 
            </dl>
            <dl style="width: 100%" class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <label>Other Taxes:</label></dt>
                <dd style="width: 100px">
                    <select class="select" valid="select" vif="liabilities[1].balance > 0" ng-model="liabilities[1].howHeld"
                        ng-options="type.key as type.value for type in common.SelectAppSpouseJoint" style="width: 100px">
                    </select>
                </dd>
                <dd style="width: 100px">
                    <input valid="number" vif="liabilities[1].howHeld != ''" type="text" class="width100 " ng-model="liabilities[1].balance"  ng-change="getTotalLiabilities()" value="" placeholder="$0.00" maxlength="10">
                </dd>
            </dl>
            <dl style="width: 100%" class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <label>Revolving Credit:</label></dt>
                <dd style="width: 100px">
                    <select class="select" valid="select" vif="liabilities[2].balance > 0" ng-model="liabilities[2].howHeld"
                        ng-options="type.key as type.value for type in common.SelectAppSpouseJoint" style="width: 100px">
                    </select>
                </dd>
                <dd style="width: 100px">
                    <input valid="number" vif="liabilities[2].howHeld != ''" type="text" class="width100 " ng-model="liabilities[2].balance"  ng-change="getTotalLiabilities()" value="" placeholder="$0.00" maxlength="10">
                </dd>
            </dl>
            <dl style="width: 100%" class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <label class="underlined bolded">Note Payable 1:</label></dt>
                <dd style="width: 100px">&nbsp;</dd>
                <dd style="width: 100px"></dd>
            </dl>
            <dl style="width: 100%" class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <input type="text"  ng-model="liabilities[3].name" />
                <dd style="width: 100px">
                    <select class="select" valid="select" vif="liabilities[3].balance > 0" ng-model="liabilities[3].howHeld"
                        ng-options="type.key as type.value for type in common.SelectAppSpouseJoint" style="width: 100px">
                    </select>
                </dd>
                <dd style="width: 100px">
                    <input valid="number" vif="liabilities[3].howHeld != ''" type="text" class="width100 " ng-model="liabilities[3].balance"  ng-change="getTotalLiabilities()" value="" placeholder="$0.00" maxlength="10">
                </dd>
            </dl>
            <dl style="width: 100%" class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <label class="underlined bolded">Note Payable 2:</label></dt>
                <dd style="width: 100px">&nbsp;</dd>
                <dd style="width: 100px"></dd>
            </dl>
            <dl style="width: 100%" class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <input type="text"  ng-model="liabilities[4].name" />
                <dd style="width: 100px">
                    <select class="select" valid="select" vif="liabilities[4].balance > 0" ng-model="liabilities[4].howHeld"
                        ng-options="type.key as type.value for type in common.SelectAppSpouseJoint" style="width: 100px">
                    </select>
                </dd>
                <dd style="width: 100px">
                    <input valid="number" vif="liabilities[4].howHeld != ''" type="text" class="width100  " ng-model="liabilities[4].balance"  ng-change="getTotalLiabilities()" value="" placeholder="$0.00" maxlength="10">
                </dd>
            </dl>
            <dl style="width: 100%" class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <label>Mortgages Payable (Sch. 2):</label></dt>
                <dd style="width: 100px">
                    <select class="select" valid="select" vif="liabilities[5].balance > 0" ng-model="liabilities[5].howHeld"
                        ng-options="type.key as type.value for type in common.SelectAppSpouseJoint" style="width: 100px">
                    </select>
                </dd>
                <dd style="width: 100px">
                    <input valid="number" vif="liabilities[5].howHeld != ''" type="text" class="width100 " ng-model="liabilities[5].balance"  ng-change="getTotalLiabilities()" value="" placeholder="$0.00" maxlength="10">
                </dd>
            </dl>
            <dl style="width: 100%" class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <label class="underlined bolded">Other Liability:</label></dt>
                <dd style="width: 100px">&nbsp;</dd>
                <dd style="width: 100px"></dd>
            </dl>
            <dl style="width: 100%" class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <input type="text"  ng-model="liabilities[6].name" />
                <dd style="width: 100px">
                    <select class="select" valid="select" vif="liabilities[6].balance > 0" ng-model="liabilities[6].howHeld"
                        ng-options="type.key as type.value for type in common.SelectAppSpouseJoint" style="width: 100px">
                    </select>
                </dd>
                <dd style="width: 100px">
                    <input valid="number" vif="liabilities[6].howHeld != ''" type="text" class="width100 " ng-model="liabilities[6].balance"  ng-change="getTotalLiabilities()" value="" placeholder="$0.00" maxlength="10">
                </dd>
            </dl>
            <dl style="width: 100%" class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <label class="underlined bolded">Other Liability:</label></dt>
                <dd style="width: 100px">&nbsp;</dd>
                <dd style="width: 100px"></dd>
            </dl>
            <dl style="width: 100%" class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <input type="text"  ng-model="liabilities[7].name" />
                <dd style="width: 100px">
                    <select class="select" valid="select" vif="liabilities[7].balance > 0" ng-model="liabilities[7].howHeld"
                        ng-options="type.key as type.value for type in common.SelectAppSpouseJoint" style="width: 100px">
                    </select>
                </dd>
                <dd style="width: 100px">
                    <input valid="number" vif="liabilities[7].howHeld != ''" type="text" class="width100 " ng-model="liabilities[7].balance"  ng-change="getTotalLiabilities()" value="" placeholder="$0.00" maxlength="10">
                </dd>
            </dl>
            <dl style="width: 100%" class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <label></label>
                </dt>

                <dd style="width: 100px; font-size: 12px!important">
                    <label>Total Liabilities:</label>

                </dd>
                <dd style="width: 100px">
                    <input  id="tmp1" type="text" class="width100 " ng-change="getNetWorth()" ng-model="assetInfo.totalLiabilities" placeholder="$0.00" maxlength="12">
                </dd>
            </dl>
            <dl style="width: 100%" class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <label></label>
                </dt>

                <dd style="width: 100px;">
                    <label>Net Worth:</label>

                </dd>
                <dd style="width: 100px">
                    <input ng-disabled="true" id="tmp2" type="text" class="width100 " ng-model="assetInfo.netWorth" placeholder="$0.00" maxlength="12">
                </dd>
            </dl>
            <dl style="width: 100%" class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">

                <dd style="width: 100%!important; text-align: center">
                    <label>
                        <div>(Total Assets Minus Liabilities)</div>
                    </label>

                </dd>
            </dl>
            <dl style="width: 100%" class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
                <dt>
                    <label></label>
                </dt>
                <dd style="width: 100px"></dd>
                <dd style="width: 100px"></dd>
            </dl>

        </div>
    </div>
</div>
