@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shifa App Policy</title>
</head>
<body>
    <div>
        <b> The content and materials in Shifa Repertory  are for informational purposes only and should not be construed as medical advice.  Shifa Repertory does not provide medical advice; users of this guide should seek the advice of their own medical provider before undertaking any healing regimen.  The remedies contained herein are not FDA approved.  Do not disregard professional advice or delay in seeking medical treatment because of anything you read in this guide</b>
    </div>
</body>
</html>
