<dl style="background-color: #efefef!important; width: 95%; margin-left: 20px" class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop10 marginbottom0">
    <dd class="linkHeader" style="width: 20%">
        <label class="width90">Property<span class="star">*</span></label>
    </dd>
    <dd class="linkHeader" style="width: 20%">
        <label>Lender<span class="star">*</span></label>
    </dd>
    <dd class="linkHeader" style="width: 21%">
        <label class="width90">Balance<span class="star">*</span></label>
    </dd>
    <dd class="linkHeader" style="width: 20%">
        <label class="width90">Account Number  </label>
    </dd>
    <dd class="linkHeader" style="width: 18%">
        <label>Monthly Payment<span class="star">*</span></label>
    </dd>
</dl>
<dl style="width: 95%; margin-left: 25px" class="marginbottom30">
    <dd style="width: 20%">
        <span class="width50">{{title}}</span>
    </dd>
    <dd style="width: 20%">
        <input valid="text" vmsg="Lender required" ng-class="" type="text" ng-model="mortgage.lender" class="width90" maxlength="25">
    </dd>
    <dd style="width: 20%">
        <input valid="number" vmsg="Balance required" ng-class="" type="text" ng-model="mortgage.balance" class="width90" maxlength="12">
    </dd>
    <dd style="width: 20%">
        <input _valid_="^[0-9.]+$" _vmsg_="only numeric allowed" ng-class="" type="text" ng-model="mortgage.account" class="width90" maxlength="10">
    </dd>
    <dd style="width: 20%">
        <input valid="number" vmsg="Monthly Payment required" ng-class="" type="text" ng-model="mortgage.monthlyPayment" class="width90" maxlength="9">
    </dd>
</dl>
