<form>
    <div class="row">
        <div class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop10 marginbottom0">
            <h3 class="georgia underlined clearfix" style="text-align: left; margin-left: 20px; margin-right: 20px"><span>Collateral Property Address</span></h3>
            <dl class="" style="font-weight: normal">
                <dt style="font-weight: normal">Property Address:</dt>
                <dd style="width: 260px;">
                    <select class="select"
                        ng-model="collateralProperty.type" ng-init="collateralProperty.type=''" ng-change="getOtherAddress()" style="width: 275px"
                        ng-options="type.key as type.value for type in propertyAddress">
                    </select>
                </dd>

                <dd style="width: 320px">
                    <div class="alert alert-info-level1" style="max-width: 100%; margin-right: 8px;">
                        <p>If Other address, please enter the following</p>
                    </div>
                </dd>
                <dt style="font-weight: normal">Street Address:<span class="star">*</span>
                </dt>
                <dd style="width: 200px">
                    <input valid="text" vmsg="Street Address required" type="text" ng-model="rec.propertyAddress.addressLine" class="" placeholder="" maxlength="30">
                </dd>

                <dt style="font-weight: normal">PO Box, RR#, or Address Line 2:
                </dt>
                <dd style="width: 200px">
                    <input type="text" ng-model="rec.propertyAddress.addressLine2" class="" placeholder="" maxlength="30">
                </dd>
                <dt style="font-weight: normal">City:<span class="star">*</span>
                </dt>
                <dd style="width: 200px">
                    <input valid="text" vmsg="City required" type="text" ng-model="rec.propertyAddress.city" class="" placeholder="" maxlength="25">
                </dd>
                <dt style="font-weight: normal">State:<span class="star">*</span>
                </dt>
                <dd>
                    <select valid="select" vmsg="State required" vminval="0" class="select"
                        ng-model="rec.propertyAddress.state" style="width: 275px"
                        ng-options="type.abbreviation as type.name for type in common.usStates">
                    </select>
                </dd>
                <dt style="font-weight: normal">Zip:<span class="star">*</span>
                </dt>
                <dd style="width: 200px">
                    <input valid="number" vmsg="Zip required" type="text" ng-model="rec.propertyAddress.zip" class="" placeholder="" maxlength="9">
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12 col-md-12 col-sm-8 col-xs-12 margintop0 marginbottom30">
            <h3 class="georgia underlined clearfix" style="text-align: left; margin-left: 20px; margin-right: 20px"><span>Collateral Property Details</span></h3>
            <dl>
                <dt  style="font-weight: normal">Date Of purchase:<span class="star">*</span>
                </dt>
                <dd style="width: 300px">
                    <div class="input-group date">
                        <input valid="date" valid_="daterange" vminval_="1825" vmsg_="Date of Purchase required" id="inp1116112014" ng-model="rec.purchaseDate" type="text" wmg-datepicker value="">
                        <label for="inp1116112014" data-group="expiration-group" class="icon-calendar"></label> MM/DD/YYYY
                    </div>
                </dd>
                <dt  style="font-weight: normal" ng-hide="isPurchasedIn5Years()  || purchasePriceRequired == true">Purchase Price:</dt>
                <dd style="width: 260px" ng-hide="isPurchasedIn5Years()  || purchasePriceRequired == true">
                    <input type="text" ng-model="rec.purchasePrice" class="" placeholder="" maxlength="9">
                </dd>

                <dt  style="font-weight: normal" ng-show="isPurchasedIn5Years() || purchasePriceRequired == true">Purchase Price:<span class="star" >*</span>
                </dt>
                <dd style="width: 260px" ng-show="isPurchasedIn5Years() || purchasePriceRequired == true">
                    <input valid="text" vmsg="Purchase Price required" type="text" ng-model="rec.purchasePrice" class="" placeholder="" maxlength="9">
                </dd>

                <dd style="width: 300px">
                    <div class="alert alert-info-level1" style="max-width: 100%; margin-right: 8px;">
                        <p>Required if purchased in the last 5 years</p>
                    </div>
                </dd>
                <dt style="font-weight: normal">Estimated value:<span class="star">*</span>
                </dt>
                <dd style="width: 200px">
                    <input valid="text" vmsg="Estimated value required" type="text" ng-model="rec.estimatedValue" class="" maxlength="9">
                </dd>
                <dt style="font-weight: normal">Occupancy Type:<span class="star">*</span>
                </dt>
                <dd class="col-lg-12">
                    <select valid="select" vmsg="Occupancy Type required" vminval="0" class="select" 
                        ng-model="rec.occupancyType" style="width: 100px"
                        ng-options="type.key as type.value for type in common.ddOccupancyType">
                    </select>
                </dd>
                <dt ng-show="rec.occupancyType == 'P'" style="font-weight: normal">Does applicant occupy collateral property:<span class="star">*</span>
                </dt>
                <dd ng-show="rec.occupancyType == 'P'" class="col-lg-12">
                    <select valid="select" vmsg="Does applicant occupy collateral property required" vminval="0" class="select"
                        ng-model="rec.appCollateralFlag" style="width: 50px"
                        ng-options="type.key as type.value for type in common.SelectYesNo">
                    </select>
                </dd>
                <dt ng-show="isCoAppAvailable == 'Y' && rec.occupancyType == 'P'" style="font-weight: normal">Does co-applicant occupy collateral property:<span class="star">*</span>
                </dt>
                <dd ng-show="isCoAppAvailable == 'Y' && rec.occupancyType == 'P'">
                    <select valid="select" vmsg="Does co-applicant occupy collateral property required" vminval="0" class="select"
                        ng-model="rec.coAppCollateralFlag" style="width: 50px"
                        ng-options="type.key as type.value for type in common.SelectYesNo">
                    </select>
                </dd>
                <dt style="font-weight: normal">Property Type:<span class="star">*</span>
                </dt>
                <dd class="col-lg-12">
                    <select valid="select" vmsg="Property Type required" vminval="0" class="select"
                        ng-model="rec.propertyType" style="width: 130px"
                        ng-options="type.key as type.value for type in common.ddPropertyType">
                    </select>
                </dd>
                <dt class="margintop5" style="font-weight: normal">Acres:<span class="star">*</span>
                </dt>
                <dd style="width: 260px">
                    <input valid="number" vmsg="Number only" type="text" maxlength="9" ng-model="rec.area" class="" placeholder="">
                </dd>
                <dd style="width: 275px">
                    <div class="alert alert-info-level1" style="max-width: 100%; margin-right: 8px;">
                        <p>If given Acres less than 1 enter 0</p>
                    </div>
                </dd>
                <dt style="font-weight: normal">Property under construction:<span class="star">*</span>
                </dt>
                <dd class="col-lg-12">
                    <select valid="select" vmsg="Property under construction required" vminval="0" class="select"
                        ng-model="rec.propertyUnderConstruction" style="width: 50px"
                        ng-options="type.key as type.value for type in common.SelectYesNo">
                    </select>
                </dd>
                <dt style="font-weight: normal">Property vested in trust:<span class="star">*</span>
                </dt>
                <dd>
                    <select valid="select" vmsg="Property vested in trust required" vminval="0" class="select"
                        ng-model="rec.trustVestedFlag" style="width: 50px"
                        ng-options="type.key as type.value for type in common.SelectYesNo">
                    </select>
                </dd>
                <dt style="font-weight: normal">
                        Property owned free and clear of all liens:<span class="star">*</span>
                </dt>
                <dd>
                    <select valid="select" vmsg="Property owned free and clear of all liens required" vminval="0" class="select"
                        ng-model="rec.propertyFreeClearFlag" style="width: 50px"
                        ng-options="type.key as type.value for type in common.SelectYesNo">
                    </select>
                </dd>
                <dt style="font-weight: normal">
                        Property for sale:<span class="star">*</span>
                </dt>
                <dd>
                    <select valid="select" vmsg="Property for sale required" vminval="0" class="select"
                        ng-model="rec.propertyForSaleFlag" style="width: 50px"
                        ng-options="type.key as type.value for type in common.SelectYesNo">
                    </select>
                </dd>
            </dl>
        </div>
    </div>
</form>
