    
    <section class="slice bg-3" ng-controller="LoginCtrl">
	  <div class="w-section inverse">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                        <div class="w-section inverse">                       
                            <div class="w-box sign-in-wr bg-5">
                                
                                <div class="form-header">
                                    <h2>Please, sign in to your account</h2>
                                </div>
                                <div class="form-body">
                                    <p>
                                    Login to manage employees, print cards and run reports
                                    </p>
                                        <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control" id="txtEmail" placeholder="" ng-model="user.email" ng-init="user.email = 'nasihere@gmail.com'" >
                                        </div>
                                        <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" ng-model="user.password" id="txtPassword"  ng-init="user.password = 'zzz'" placeholder="">
                                        </div>
                          
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="checkbox"><input ng-model="user.remember" type="checkbox"> Remember me</label>                        
                                            </div>
                                            <div class="col-md-6">
												<input type="hidden" ng-model="user.type" ng-init="user.type='Login'" />
                                                <button type="submit" ng-click="LoginBtn(user)"  class="btn btn-two pull-right">Login</button>                      
                                            </div>
                                        </div>
                                    
                                </div>
                                <div class="form-footer">
                                    <p><a href="#">Forgot Password?</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>