<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bootstrap3 - Credit Analysis</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <!-- 3rd Party CSS -->
    <link href="css/font-awesome.css" rel="stylesheet" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="http://cdn.datatables.net/1.10.7/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="http://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="http://cdn.datatables.net/responsive/1.0.6/css/dataTables.responsive.css" rel="stylesheet" />
    <!-- WF -->
    <link href="css/layout.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/custom.css" rel="stylesheet" />
    <!-- 3rd Party JS -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/responsive/1.0.6/js/dataTables.responsive.js"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <!-- WF -->
    <script src="js/tempjson.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        /*
            use exclusively with wf-section only
            trigger
            <thead><tr class="wf-section-bg"><th class="wf-section-header">Summary <a href="javascript:void(0);" onclick="wf_section_toggle(this);" class="wf-section-toggle pull-right"><span class="fa fa-minus"></span></a></th></tr><!-- wf-section-header --></thead>
        */
        function wf_section_toggle(a) {
            $(a).parent().parent().parent().parent('.wf-section').find('tbody tr td.wf-section-content').slideToggle();
            $(a).children('.fa').toggleClass('fa-minus fa-plus');
        }

        $(window).load(function () {
            $('.panel-group .panel .panel-heading .panel-title a').each(function () {
                $(this).click(function () {
                    $('.fa', this).toggleClass('fa-caret-left', 'fa-caret-down');
                });
            });
        });
    </script>
</head>
<body ng-app="app" data-ng-controller="JFormController">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".wf-navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="logo pull-left"><a href="/" title="Well Fargo" class="wf-logo">Wells Fargo</a></span>
                <span class="navbar-brand" href="landing.html">CUSP <span class="wf-app-name">Credit Analysis</span></span>
            </div>
            <!-- navbar-header -->
            <div class="wf-navbar navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <span class="text" style="display:inline-block;">Welcome, </span><a href="#" class="dropdown-toggle name" data-toggle="dropdown" role="button" aria-expanded="false"><strong>John Doe <span class="fa fa-caret-down"></span></strong></a>
                        <ul class="dropdown-menu multi-level" role="menu">
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-files-o"></span> Windows</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><span class="fa fa-file-o"></span> Window 1</a></li>
                                    <li><a href="#"><span class="fa fa-file-o"></span> Window 2</a></li>
                                    <li><a href="#"><span class="fa fa-file-o"></span> Window 3</a></li>
                                </ul>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#"><span class="fa fa-sign-out"></span> Logout</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-cogs"></span> App Links <span class="fa fa-caret-down"></span></a>
                        <ul class="dropdown-menu multi-level multi-column" role="menu">
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Central Sales</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">CS Comment</a></li>
                                    <li><a href="#">Closing Support</a></li>
                                    <li><a href="#">Online App Status</a></li>
                                    <li><a href="#">Updates Without Rehash</a></li>
                                </ul>
                            </li>
                            <li class="divider"></li>
                            <li class="col"><a href="#">ACH Information</a></li>
                            <li class="col"><a href="#">Adverse Action Hierarchy</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-external-link"></span> External Links <span class="fa fa-caret-down"></span></a>
                        <ul class="dropdown-menu multi-level" role="menu">
                            <li class="col"><a href="#">Auto Check</a></li>
                            <li class="col"><a href="#">NADA</a></li>
                            <li class="col"><a href="#">Black Book</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="fa fa-refresh"></span> Update Mode</a></li>
                    <li><a href="#"><span class="fa fa-print"></span> Print</a></li>
                </ul>
            </div>
            <!-- navbar-collapse collapse -->
        </div>
        <!-- container -->
    </div>
    <!-- navbar -->

    <div class="container">
        <div class="row" style="margin-bottom:20px;">
            <div class="col-lg-12">
                <div class="form-inline">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Tab Setting</span>
                        <div class="form-group">
                            <select class="form-control" ng-model="jPreviewForm.jFormPreview.size" ng-init="jPreviewForm.jFormPreview.size = 'col-lg-6'">
                                <option ng-repeat="opt in classes.FormSize" value="{{opt.value}}">{{opt.label}}</option>
                            </select>
                        </div>
                        <div class="input-group-btn">
                            <select class="form-control" ng-model="jPreviewForm.jFormPreview.formicon">
                                <option ng-repeat="opt in classes.jIcons" value="{{opt.value}}">{{opt.label}}</option>
                            </select>
                        </div>
                        <div class="input-group-btn">
                            <select class="form-control" ng-model="jPreviewForm.jFormPreview.template" ng-init="jPreviewForm.jFormPreview.template = 'Form'">
                                <option ng-repeat="opt in ['Form','TabForm']" value="{{opt}}">{{opt}}</option>
                            </select>
                        </div>
                        <span class="input-group-btn">
                            <a class="btn btn-default" ng-click="ClearForm()" title="Clear Form"><span class="fa fa-refresh"></span></a>
                            <a class="btn btn-default" ng-click="OpenMyJsonDialog()" title="Load Form"><span class="fa fa-folder-open-o"></span></a>
                            <a class="btn btn-primary" ng-click="SaveFormAsFile()" title="Save Form"><span class="fa fa-floppy-o"></span> Save</a>
                            <a class="btn btn-danger" ng-click="exportData('Form')">Export</a>
                        </span>
                    </div><!-- input-group -->
                </div>
            </div>
        </div><!-- row -->

        <div class="row" style="margin-bottom:20px;">

            <div class="col-lg-3  col-md-4  col-sm-4 col-xs-4">
                <div ng-repeat="row in jform.data " ng-show="row.length" class="row">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-lg-12 ">
                                    <a href="#" ng-click="addRow();" class="btn btn-default pull-right btn-xs">Add Row</a>
                                    <a href="#" ng-click="addfields(row)" class="btn btn-info btn-xs pull-right">Add Fields</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px">

                                    <div ng-repeat="item in row">

                                        <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12" style="padding:0px">
                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding:0px">
                                                <input ng-keyup="keyPress($event.keyCode,row)" type="text" name="lblmodel{{lblcounter}}" class="form-control input-sm wf-bg-protected" ng-model="item.label" placeholder="{{item.type}}" />

                                            </div>

                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                <a ng-click="openDialog(item.$$hashKey)" class="btn btn-default btn-xs"><span class="fa fa-pencil"></span></a>

                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-1  col-xs-1">
                                                <a href="#" ng-click="removefields(row, $index)" class="btn btn-default btn-xs"><span class="fa fa-trash-o"></span></a>

                                            </div>
                                            <dialog id="openEdit{{item.$$hashKey}}" class="col-lg-12">
                                                <a ng-click="hideDialog(item.$$hashKey)" href="javascript:void(0)">
                                                    <span class="fa pull-right">
                                                        <i class="fa fa-close"></i>
                                                    </span>
                                                </a>
                                                <div id="wf-appbanner-panel-p1" class="panel-collapse collapse in wf-appbanner-panel-p1" role="tabpanel" aria-labelledby="wf-appbanner-panel-heading">
                                                    <div class="panel-body">
                                                        <header></header>
                                                        <div class="col-xs-12 wf-appbanner {{form.size}}">


                                                            <div class="panel-group wf-appbanner-accordion" id="wf-appbanner-accordion" role="tablist" aria-multiselectable="true">
                                                                <div class="panel panel-default wf-appbanner-panel">

                                                                    <div class="panel-heading" role="tab" id="wf-appbanner-panel-heading">

                                                                        <h4 class="panel-title">
                                                                            <a>
                                                                                {{item.label}}

                                                                            </a>
                                                                        </h4>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label class="control-label  ">Type:</label>
                                                                        <i class="icon-append fa fa-pencil-square-o"></i>
                                                                        <select ng-model="item.type" class="form-control  input-sm wf-bg-protected">
                                                                            <option value="empty">Empty</option>
                                                                            <option value="text">Text Box</option>
                                                                            <option value="dropdown">Drop Down</option>
                                                                            <option value="calendar">Calendar</option>
                                                                            <option value="chk">Check Box</option>
                                                                            <option value="rdo">Radio Button</option>
                                                                            <option value="button">Button</option>
                                                                        </select>
                                                                        <input class="form-control input-sm" type="text" ng-model="item.complabel" ng-show="item.type == 'button' || item.type == 'rdo' || item.type == 'chk'" />

                                                                    </div>



                                                                    <div class="form-group">
                                                                        <label class="control-label  ">Model:</label>
                                                                        <i class="icon-append fa fa-pencil-square-o"></i>
                                                                        <input type="text" class="form-control  input-sm wf-bg-protected" ng-model="item.model" />

                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label class="control-label  ">Valid:</label>
                                                                        <i class="icon-append fa fa-pencil-square-o"></i>
                                                                        <select ng-change="change(item,valid)" ng-model="valid.type" ng-init="valid.type = ''" class="form-control  input-sm wf-bg-protected">
                                                                            <option value="">No Validation</option>
                                                                            <option value="text">Alpha/Numeric</option>
                                                                            <option value="email">Email</option>
                                                                            <option value="date">Date</option>
                                                                            <option value="number">Number</option>
                                                                            <option value="phone">Phone</option>
                                                                            <option value="select">Select Any One</option>
                                                                        </select>
                                                                        <br />
                                                                        <input class="form-control input-sm" ng-show="valid.type != ''" placeholder="Custom Message ex: Required" ng-change="change(item,valid)" type="text" ng-model="valid.vmsg" />

                                                                    </div>


                                                                    <div class="form-group">
                                                                        <label class="control-label  ">Style:</label>
                                                                        <i class="icon-append fa fa-pencil-square-o"></i>
                                                                        <select ng-model="item.style" ng-init="item.style = 'form-control  input-sm wf-bg-protected'" class="form-control  input-sm wf-bg-protected">
                                                                            <option value="form-control">No Style</option>
                                                                            <option value="form-control input-sm">FC+SM</option>
                                                                            <option value="form-control input-sm wf-bg-protected">FC+SM+Pro</option>
                                                                            <option value="form-control input-sm wf-bg-protected-bright">FC+SM+ProBright</option>
                                                                        </select>
                                                                    </div>


                                                                    <div class="form-group">
                                                                        <label class="control-label  ">Size:</label>
                                                                        <i class="icon-append fa fa-pencil-square-o"></i>
                                                                        <select ng-model="item.cls" class="form-control  input-sm wf-bg-protected">
                                                                            <option ng-repeat="opt in classes.FormSize" value="{{opt.value}}">{{opt.label}}</option>
                                                                        </select>
                                                                    </div>


                                                                    <div class="form-group">
                                                                        <label class="control-label  ">Icon:</label>
                                                                        <i class="icon-append fa fa-pencil-square-o"></i>
                                                                        <select ng-model="item.icon" class="form-control  input-sm wf-bg-protected">
                                                                            <option ng-repeat="opt in classes.jIcons" value="{{opt.value}}">{{opt.label}}</option>
                                                                        </select>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </dialog>

                                        </div>

                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>

            </div><!-- row -->

            <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
                <div jform id="ExportPreviewHtml"
                     ng-repeat="option in jPreviewForm"
                     form="option"
                     template="{{option.template}}"
                     class="{{option.space}}">
                </div>
            </div>

        </div><!-- container -->
    </div><!-- container -->
   
         <div class="row" style="margin-bottom:20px;">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <!--pre>{{jPreviewForm | json}}</!--pre-->
                            <dialog id="myJsonDialog">
                                <label contenteditable="true" id="MyJson" style="height: 300px;width: 400px;">{{jform}}</label>
                                <a class="btn btn-info" ng-click="UpdateMyJson()">Update Form</a>
                            </dialog>
                        </div>
                    </div>
                </div>
            </div><!-- row -->
            <!-- ANGULARJS -->
            <script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
            <!-- Mainly scripts -->
            <script src="/App/Scripts/StaticData/StaticData.js"></script>
            <script src="/App/app.js"></script>
            <script src="CUSPController.js"></script>
            <script src="/App/Scripts/Framework/AppDirectvies.js"></script>
            <script src="/App/Scripts/Framework/Validation.js"></script>
</body>
</html>