<div class="containerz">
    <div class="leftz80 margintop20 marginbottom20">
        <span>Do you want to complete the AML/KYC Banker Verification form on-line:</span><span class="star">*</span>
    </div>

    <div class="rightz20 margintop20 marginbottom20 col-lg-12">
        <select valid="select" vminval="0" class="select" ng-model="kyc.completeOnline" ng-change="showOfflineForm()"
            ng-options="type.key as type.value for type in common.SelectYesNo" style="width: 100px">
        </select>
    </div>
</div>

<div id="offlineForm" style="display: none">
    <div class="blackout"></div>
    <div class="modalcontainer clearfix">
        <p class="alignright marginbottom0 pull-right"><a ng-click="offlineFormClose()" href="javascript:;"><strong>X</strong></a></p>
        <div class="modal-internal">
            <h3><span>AML/KYC: Offline Form</span></h3>
            <div class="">
                <div style="width: 100%" class="margintop20">
                    <span>The AML/KYC Banker Verification form located in First Forms must be completed and uploaded to DSR Shoreview</span>
                </div>
                <div class="marginbottom10 margintop20"></div>
                <div class="alignright">
                    <button class="btn btn-primary" style="height: 35px" ng-click="offlineFormClose()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="containerZ" ng-show="kyc.completeOnline == 'Y'">
    <div class="containerZ">
        <div class="margintop60 marginbottom20">
            <div class="alert alert-info-level1" style="max-width: 100%; margin-right: 20px; margin-left: 10px;">
                <label>
                    For assistance, please see
                                                  
                <a target="_blank" href="http://wmg.wellsfargo.com/ucm_prd/groups/public/documents/web_content/ucm_prd_208928.pdf">PB AML Program Guide</a>
                    or 
                <a target="_blank" href="http://wmg.wellsfargo.com/ucm_prd/groups/public/documents/web_content/ucm_prd_249008.pdf">AML/KYC Banker Verification Instruction Guide</a>.
                                                   
                If there are pledgers, complete the KYC Profile for Additional Parties form after credit approval and attach it to the KYC record.
                </label>
            </div>
        </div>
    </div>

    <div class="containerZ">
        <div class="leftz80 marginbottom10">
            <span class="leftnormallabel">Is the Customer eligible per the Private Banking AML program:</span><span class="star">*</span>
        </div>
        <div class="rightz20 marginbottom10 col-lg-12">
            <select valid="select" vminval="0" class="select" ng-model="kyc.eligibleInd"
                ng-options="type.key as type.value for type in common.SelectYesNo" style="width: 100px">
            </select>
        </div>
    </div>
    <div class="containerz" ng-show="kyc.eligibleInd == 'N'">
        <div class="leftz80 marginbottom10">
            <span class="leftnormallabel">If not eligible per the PB AML Program Guide/Prohibited Ineligible List, was the proper due diligence and risk review completed and approvals obtained and attached:</span><span class="star">*</span>
        </div>
        <div class="rightz20 marginbottom10 col-lg-12">
            <select valid="select" vminval="0" class="select" ng-model="kyc.dueDiligenceInd"
                ng-options="type.key as type.value for type in common.SelectYesNo" style="width: 100px">
            </select>
        </div>
    </div>
    <div class="containerz">
        <div class="leftz80 marginbottom10">
            <span class="leftnormallabel">Are all primary parties related to the loan identified and Client Link profiles created if not already in existence:</span><span class="star">*</span>
        </div>
        <div class="rightz20 marginbottom10 col-lg-12">
            <select valid="select" vminval="0" class="select" ng-model="kyc.partiesIdentifiedInd"
                ng-options="type.key as type.value for type in common.SelectYesNo" style="width: 100px">
            </select>
        </div>
    </div>
    <div class="containerz">
        <div class="leftz80 marginbottom10">
            <span class="leftnormallabel">Borrowers, Co-borrowers, Non-Borrower Trustees - Are all required elements in Client Link complete or confirmed as accurate per the KYC Validation and Risk Report:</span><span class="star">*</span>
        </div>
        <div class="rightz20 marginbottom10 col-lg-12">
            <select valid="select" vminval="0" class="select" ng-model="kyc.borrowConfirmedInd"
                ng-options="type.key as type.value for type in common.SelectYesNo" style="width: 100px">
            </select>
        </div>
    </div>
    <div class="containerz">
        <div class="leftz80 marginbottom10">
            <span class="leftnormallabel">Grantors, Guarantors, Pledgors, Authorized Signers and Additional Parties - Are the Name, Address, Date of Birth, and Citizenship completed or confirmed as accurate to the best of your knowledge in Client Link:</span><span class="star">*</span>
        </div>
        <div class="rightz20 marginbottom10 col-lg-12">
            <select valid="select" vminval="0" class="select" ng-model="kyc.grantorConfirmedInd"
                ng-options="type.key as type.value for type in common.SelectYesNoNotApplicable" style="width: 100px">
            </select>
        </div>
    </div>
    <div class="containerz">
        <div class="leftz80 marginbottom10">
            <span class="leftnormallabel">For Non-US Persons, new to Private Banking, have all appropriate AML referral/reference requirements (i.e., letter of introduction and letter of reference from a reputable bank) been met:</span><span class="star">*</span>
        </div>
        <div class="rightz20 marginbottom10 col-lg-12">
            <select valid="select" vminval="0" class="select" ng-model="kyc.reqMetInd"
                ng-options="type.key as type.value for type in common.SelectYesNoNotApplicable" style="width: 100px">
            </select>
        </div>
    </div>
    <div class="containerz">
        <div class="leftz80 marginbottom10">
            <span class="leftnormallabel">Have the AML/KYC (Level II) Background Investigation(s) been ordered for the following: non-US entities, non-resident aliens, primary or secondary PEP per the PB AML Program Guide:</span><span class="star">*</span>
        </div>
        <div class="rightz20 marginbottom10 col-lg-12">
            <select valid="select" vminval="0" class="select" ng-model="kyc.level2CheckInd"
                ng-options="type.key as type.value for type in common.SelectYesNoNotRequired" style="width: 100px">
            </select>
        </div>
    </div>
    <div class="containerz">
        <div class="leftz80 marginbottom10">
            <span class="leftnormallabel">Have all <a target="_blank" href="http://wmg.wellsfargo.com/wmg_intranet/WMGDirectory/Compliance/PrivateBankingCompliance/Anti-MoneyLaundering/index.htm">Country Risk Designations</a> been considered per the PB AML Program Guide:</span><span class="star">*</span>
        </div>
        <div class="rightz20 marginbottom10 col-lg-12">
            <select valid="select" vminval="0" class="select" ng-model="kyc.riskDesignationInd"
                ng-options="type.key as type.value for type in common.SelectYesNo" style="width: 100px">
            </select>
        </div>
    </div>
    <div class="containerz">
        <div class="leftz80 marginbottom10">
            <span class="leftnormallabel">Were any negative news or red flags identified:</span><span class="star">*</span>
        </div>
        <div class="rightz20 marginbottom10 col-lg-12">
            <select valid="select" vminval="0" class="select" ng-model="kyc.negNewsInd"
                ng-options="type.key as type.value for type in common.SelectYesNo" style="width: 100px">
            </select>
        </div>
    </div>
    <div class="containerz" ng-show="kyc.negNewsInd =='Y'">
        <div class="leftz80 marginbottom10">
            <span class="leftnormallabel">If negative news or red flags were identified, have they been reviewed and approved by management and communicated to WM AML Compliance (<a href="mailto:WMAMLCompliance@wellsfargo.com" target="_blank">WMAMLCompliance@wellsfargo.com</a>):</span><span class="star">*</span>
        </div>
        <div class="rightz20 marginbottom10 col-lg-12">
            <select valid="select" vminval="0" class="select" ng-model="kyc.reviewedApprvInd"
                ng-options="type.key as type.value for type in common.SelectYesNo" style="width: 100px">
            </select>
        </div>
    </div>
    <div class="containerz" ng-show="kyc.negNewsInd =='Y'">
        <div class="leftz80 marginbottom10">
            <span class="leftnormallabel">I have uploaded all negative news or red flag information to DSR Shoreview and informed the underwriter in the loan center:</span><span class="star">*</span>
        </div>
        <div class="rightz20 marginbottom10 col-lg-12">
            <select valid="select" vminval="0" class="select" ng-model="kyc.sharedCreditInd"
                ng-options="type.key as type.value for type in common.SelectYesNo" style="width: 100px">
            </select>
        </div>
    </div>
    <br />
    <div class="margintop50 marginbottom30">
        <div class="leftz80 marginbottom10">
            <span class="bolded" style="margin-left: 20px; margin-right: 20px">I have completed this form accurately and completely  to the best of my knowledge. I understand that any misinformation on this form may pose risks to xxxxProjectxxx Bank and may result in 
                impact to incentive compensation and/or disciplinary action up to and including termination.<span class="star">*</span></span>
        </div>

        <div class="rightz20 marginbottom10 col-lg-12">
            <select valid="select" vminval="0" class="select" ng-model="kyc.signatureInd"
                ng-options="type.key as type.value for type in common.SelectYesNo" style="width: 100px">
            </select>
        </div>
    </div>
</div>
