<h3 class="georgia underlined clearfix"><span>Comments</span></h3>
<div class="row margintop10">
    <div class="containerz">
        <div class="rightz20 " style="text-align: right;">
            <span class="leftnormallabel">Comments To Loan Center:</span>
        </div>
        <div class="leftz80">
            <textarea data-ng-model="applicationInfo.WealthData.comments" cols="300" rows="10" type="text" name="" value="" class="" maxlength="536"></textarea>
        </div>
    </div>
</div>
