<form>
    <div class="row" style="">
        <div class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
            <h3 class="georgia underlined clearfix" style="text-align: left; margin-left: 20px; margin-right: 20px"><span>Mortgage Properties</span></h3>
            <div wmg-Recollateral-Mortgage title="First Mortgage" mortgage="firstMortgage"/>
        </div>
    </div>
    <div class="row">
        <div class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">
            <dl>
                <dt class="text-right" style="font-weight: normal">
                        Is there another Mortgage on this Property:
                </dt>
                <dd>
                    <select class="select"
                        ng-model="mortgageInformation.anotherMortgageFlag" style="width: 50px"
                        ng-options="type.key as type.value for type in common.SelectYesNo">
                    </select>
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop20 marginbottom0">
            <div wmg-Recollateral-Mortgage ng-show="mortgageInformation.anotherMortgageFlag == 'Y'" title="Second Mortgage" mortgage="secondMortgage"/>
        </div>
    </div>
    <div class="row">
        <div class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom10">
            <!--<h3 class="georgia underlined clearfix" style="text-align: left; margin-left: 20px; margin-right: 20px"><span>Refinance</span></h3>-->
            <dl>
                <dt style="font-weight: normal">
                        Refinanced within the last 12 months:<span class="star">*</span>
                </dt>
                <dd style="width: 100px">
                    <!--This model was not there in the BaseXML.js -->
                    <select valid="select" vmsg="Refinanced within the last 12 months required" vminval="0" class="select"
                        ng-model="mortgageInformation.refinancedFlag" style="width: 50px"
                        ng-options="type.key as type.value for type in common.SelectYesNo">
                    </select>
                </dd>
                <dd ng-show="mortgageInformation.refinancedFlag=='Y'" style="width: 470px">
                    <div class="alert alert-information" style="max-width: 100%; margin-right: 8px;">
                        <p>If yes, provide name of title company. Send copy of Escrow Closing Statement</p>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</form>
