<footer class="clearfix" ng-hide="_appErrorStatus == true">
        <div class="subnavbar">
            <div class="subnav-inner">
                <div style="text-align: center">
                    <a class="btn btn-primary" ng-hide="CurrentViewName == 'CreditDetail'" ng-click="movePrevious()">Previous</a>
                    <a class="btn btn-primary" ng-click="saveApplication()">Save</a>
                    <a class="btn btn-primary" ng-click="verifyForm()">Continue</a>
                    <a href="javascript:;" onclick="$('#sideMenu').removeClass('ng-hide')">.</a>

                </div>
            </div>
        </div>
    </footer>