<div accordion-sections-link heading="Error in Loading Application" status="1"></div>

<div class=" tab-content  " ng-controller="applicationErrorController" svpappinit>
    <div accordion heading="Error Details" panelid="dv454030112014" open="true">
        <div class="alert alert-information" style="max-width: 100%; margin-right: 8px;">
            <p>Application Error:</p>
        </div>

        <!-- Show the below detailed error only when the Developer Mode not Customer Mode.-->
        <div class="container">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <td>Error Code</td>
                        <td>Error Description</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="error in appError" wmgautoheight>
                        <td>{{error.Code}}</td>
                        <td>{{error.Message}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
