
<div style="width:980px;" ng-controller="statusScreenController">

    <div>
        <div>
            <table class="table" style="margin:0 auto;background-color:#0094ff">
                <tbody>
                    <tr>
                        <th>
                            <label class="label bold" style="padding-left: 300px;">HE Maturing Account Options Status Screen</label>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="padding:5px;"><button class="btn btn-default" style="color:#333333;" ng-click="newAccount()">New</button></div>
        <div class="single-container" ng-cloak ng-hide="anglar.isDefined(error)">
            <table class="table" style="width:100%;">
                <tr style="background-color:ActiveCaption">
                    <td style="width:20%">
                        <a href="#" class="label bold" ng-click="reverse=!reverse;order('-accountNum', reverse)">Account Number</a>
                    </td>
                    <td style="width:20%">
                        <a href="#" class="label bold" ng-click="reverse=!reverse;order('-screenDisplay', reverse)">Status</a>
                        <select ng-model="_selectedValue" ng-change="loading()" ng-init="selectedValue = 'Pending Review'">
                            <option value="">All</option>
                            <option ng-repeat="item in filterItems" ng-selected="selectedValue == '{{item.screenDisplay}}'" value="{{item.screenDisplay}}">{{item.screenDisplay}}</option>
                        </select>
                    </td>
                    <td style="width:20%">
                        <a href="#" class="label bold" ng-click="reverse=!reverse;order('-createDateTime', reverse)">Date Created</a>
                    </td>
                    <td style="width:20%">
                        <a href="#" class="label bold" ng-click="reverse=!reverse;order('-lastUpdateTime', reverse)">Last Date Updated</a>
                    </td>
                    <td style="width:20%">
                        <a href="#" class="label bold" ng-click="reverse=!reverse;order('-assignedDateTime', reverse)">Date Assigned</a>
                    </td>
                    <td style="width:5%">
                        <a href="#" class="label bold" ng-click="reverse=!reverse;order('-assignTo', reverse)">AssignTo</a>
                    </td>
                    <td style="width:5%">
                        <a href="#" class="label bold" ng-click="reverse=!reverse;order('-age', reverse)">Age</a>
                    </td>
                    <td style="width:5%">
                        <a href="#" class="label bold" ng-click="reverse=!reverse;order('-requestedDeliveryMode', reverse)">RequestedDeliveryMode</a>
                    </td>
                    <td style="width:5%">
                        <a href="#" class="label bold" ng-click="reverse=!reverse;order('-actualDeliveryMode', reverse)">ActualDeliveryMode</a>
                    </td>
                </tr>
                <tr ng-repeat="status in statusItems | filter : selectedValue">
                    <td>
                        <span class=""><a href="" ng-click="detailAccount(status.accountNum,status.moguid)">{{status.accountNum}}</a></span>
                    </td>
                    <td>
                        <span class="">{{status.screenDisplay}}</span>
                    </td>
                    <td>
                        <span class="">{{status.createDateTime}}</span>
                    </td>
                    <td>
                        <span class="">{{status.lastUpdateTime}}</span>
                    </td>
                    <td>
                        <span class="">{{status.assignedDateTime}}</span>
                    </td>
                    <td>
                        <span class="">{{status.assignTo}}</span>
                    </td>
                    <td>
                        <span class="">{{status.age}}</span>
                    </td>
                    <td>
                        <span class="">{{status.requestedDeliveryMode}}</span>
                    </td>
                    <td>
                        <span class="">{{status.actualDeliveryMode}}</span>
                    </td>
                </tr>
                <tr ng-hide="statusItems.length > 0"><td colspan="6" style="text-align:center">No Records found</td></tr>
            </table>
        </div>
        <div class="error" ng-hide="!anglar.isDefined(error)">Error Occurred, please contact tech support</div>
    </div>
    <div loader="showLoader"></div>
</div>