<div class="col col-lg-12 col-md-12 col-sm-8 col-xs-12 margintop10 marginbottom0">
    <p class="col alert alert-info-level1 marginbottom10" style="width: 450px; margin-left: 175px">
        <strong>IMPORTANT: </strong>The following statement represents: (check one)
    </p>
    <div class="clearfix margintop30 marginbottom30" style="margin-left: 175px" >
        <input type="checkbox" name="groupOne" ng-model="selection[0].checked" ng-click="selectOne(selection[0],0)" />
        <span>Only Community Property</span>
        <input type="checkbox" name="groupOne" ng-model="selection[1].checked" ng-click="selectOne(selection[1],1)" />
        <span>Only Separate Property</span>
        <input type="checkbox" name="groupOne" ng-model="selection[2].checked" ng-click="selectOne(selection[2],2)" />
        <span>Community and Separate Property</span>
    </div>
    <div class="leftz text-right marginbottom30">
        <span>Client provided self-prepared Personal Financial Statement:</span>
    </div>
    <div class="rightz">
        <div class="col-lg-12">
            <select class="select" 
                    ng-model="assetInfo.selfPrepPFSInd" 
                    ng-options="type.key as type.value for type in common.SelectYesNo" style="min-width: 200px">
            </select>
           
        </div>
        <div ng-show="assetInfo.selfPrepPFSInd == 'Y'">
            <div class="alert alert-information" style="width: 300px">
                <p>Please Complete the category totals.</p>
            </div>
        </div>
        <div ng-show="assetInfo.selfPrepPFSInd == 'N'">
            <div class="alert alert-information" style="width: 330px">
                <p>Please provide asset and liability detail below</p>
            </div>
        </div>
    </div>

</div>
<br/>
<br/>
<br/>
<br/>