<div accordion-sections-link heading="Product Details" status="1"></div>
<div ng-controller="ProductController">
    <div>
        <ul class="nav  nav-tabs nav-tabs-top ng-scope">
            <li wmg-breadcrumb-directive ng-repeat="input in routingStates | filter:'Product '"></li>
            <li class="pull-right "><a href="javascript:;" class="btn  btn-primary " ng-click="removeProduct()">Remove</a></li>
            <li class="pull-right graytext" style="border-left: none!important; border-right: none!important; padding-top: 6px;">|</li>
        </ul>
    </div>

    <div class="tab-content" svpappinit>
        <div ui-view="BasicInfo"></div>
        <div ui-view="ProductFeatures"></div>
        <div ui-view="Collaterals"></div>
        <div ui-view="Comment"></div>

    </div>
    
    <div ui-view="CDSavingsForm@Collaterals"></div>
    <div ui-view="MarketableForm@Collaterals"></div>
    
</div>
