<div class="">
    <div class="panel-body marginbottom30">
        <div class="containerZ">
            <div class="leftz80">
                <h3 class="georgia underlined clearfix" style="text-align: left; margin-left: 20px;"><span>Credit Details</span></h3>
            </div>
        </div>
        <div class="containerz">
            <div class="leftz80">
                <span class=" leftnormallabel">Banker - Select from the language choices in which this credit request is being discussed:</span>
            </div>
            <div class="rightz20">
                <label>{{getDescription(common.Languages, applicationInfo.languagePref)}}</label>
            </div>
            <div class="leftz80">
                <span class="leftnormallabel">AUM:</span>
            </div>
            <div class="rightz20 ">
                <label>{{applicationInfo.AUM}}</label>
            </div>
        </div>

        <div class="containerz" ng-repeat="backQues in applicantInfoList">
            <div class="containerz">
                <div class="leftz80">
                    <h3 ng-if="backQues.applicantType == 'P'" class="georgia underlined clearfix" style="text-align: left; margin-left: 20px;"><span>Applicant</span></h3>
                    <h3 ng-if="backQues.applicantType == 'S'" class="georgia underlined clearfix" style="text-align: left; margin-left: 20px;"><span>Co Applicant</span></h3>
                </div>
            </div>
            <div ng-repeat="item in backQues.backgroundInfoQuesList.backgroundInfoQues">
                <div class="containerz">
                    <div class="leftz80">
                        <span class="leftnormallabel ">{{item.txt}}</span>
                    </div>
                    <div class="rightz20">
                        <label>No</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="containerZ">
            <div class="leftz80">
                <h3 class="georgia underlined clearfix" style="text-align: left; margin-left: 20px;"><span>Customer Contact</span></h3>
            </div>
        </div>
        <div class="containerz">
            <div class="leftz80">
                <span class="leftnormallabel">Applicant Email Address:</span>
            </div>
            <div class="rightz20">
                <label>{{applicant.EmailAddress}}</label>
            </div>
            <div class="leftz80">
                <span class="leftnormallabel">Co-Applicant Email Address:</span>
            </div>
            <div class="rightz20">
                <label>{{coapplicant.EmailAddress}}</label>
            </div>
        </div>
        <div class="containerZ">
            <div class="leftz80">
                <h3 class="georgia underlined clearfix" style="text-align: left; margin-left: 20px;"><span>Additional Banker or Associate Contact</span></h3>
            </div>
        </div>
        <div class="containerz">
            <div class="leftz80">
                <span class="leftnormallabel">Name:</span>
            </div>
            <div class="rightz20">
                <label>{{additionalInfo.name}}</label>
            </div>
            <div class="leftz80">
                <span class="leftnormallabel">Phone:</span>
            </div>
            <div class="rightz20">
                <label>{{additionalInfo.phone}}</label>
            </div>
            <div class="leftz80">
                <span class="leftnormallabel">Email Addreess:</span>
            </div>
            <div class="rightz20">
                <label>{{additionalInfo.email}}</label>
            </div>
        </div>
        <div class="containerZ">
            <div class="leftz80">
                <h3 class="georgia underlined clearfix" style="text-align: left; margin-left: 20px;"><span>Additional Banker or Associate Contact</span></h3>
            </div>
        </div>
        <div class="containerz">
            <div class="leftz80">
                <span class="leftnormallabel">Do you have the authority to apply for joint credit on behalf of all co-applicants, or if more than one applicant present, is it your intent to apply jointly?:</span>
            </div>
            <div class="rightz20">
                <label>{{getDescription(common.SelectYesNo, applicationInfo.jointApplicationApprovalInd)}}</label>
            </div>
        </div>
    </div>
</div>
