<style>
    div.leftz90 {
        float: left;
        padding: 4px;
        text-align: right;
        width: 90%;
    }

    div.rightz10 {
        float: left;
        padding: 4px;
        width: 10%;
    }
</style>
<div class="">
    <div class="panel-body marginbottom30">
        <div class="containerZ">
            <div class="leftz80">
                <h3 class="georgia underlined clearfix" style="text-align: left; margin-left: 20px;"><span>KYC Informations</span></h3>
            </div>
        </div>
        <div class="containerz">
            <div class="leftz80">
                <span class=" leftnormallabel">Is the Customer eligible per the Private Banking AML program:</span>
            </div>
            <div class="rightz20">
                <label>{{getDescription(common.SelectYesNo, kyc.answer1)}}</label>
            </div>
            <div class="leftz80">
                <span class="leftnormallabel">If not eligible per the PB AML Program Guide/Prohibited Ineligible List, was the proper due diligence and risk review completed and approvals obtained and attached:</span>
            </div>
            <div class="rightz20 ">
                <label>{{getDescription(common.SelectYesNo, kyc.answer2)}}</label>
            </div>
            <div class="leftz80">
                <span class=" leftnormallabel">Are all primary parties related to the loan identified and Client Link profiles created if not already in existence:</span>
            </div>
            <div class="rightz20">
                <label>{{getDescription(common.SelectYesNo, kyc.answer3)}}</label>
            </div>
            <div class="leftz80">
                <span class="leftnormallabel">Borrowers, Co-borrowers, Non-Borrower Trustees - Are all required elements in Client Link complete or confirmed as accurate per the KYC Validation and Risk Report:</span>
            </div>
            <div class="rightz20 ">
                <label>{{getDescription(common.SelectYesNo, kyc.answer4)}}</label>
            </div>
            <div class="leftz80">
                <span class=" leftnormallabel">Grantors, Guarantors, Pledgors, Authorized Signers and Additional Parties - Are the Name, Address, Date of Birth, and Citizenship completed or confirmed as accurate to the best of your knowledge in Client Link:</span>
            </div>
            <div class="rightz20">
                <label>{{getDescription(common.SelectYesNoNotApplicable, kyc.answer5)}}</label>
            </div>
            <div class="leftz80">
                <span class="leftnormallabel">For Non-US Persons, new to Private Banking, have all appropriate AML referral/reference requirements (i.e., letter of introduction and letter of reference from a reputable bank) been met:</span>
            </div>
            <div class="rightz20 ">
                <label>{{getDescription(common.SelectYesNoNotApplicable, kyc.answer6)}}</label>
            </div>
            <div class="leftz80">
                <span class=" leftnormallabel">Have the AML/KYC (Level II) Background Investigation(s) been ordered for the following: non-US entities, non-resident aliens, primary or secondary PEP per the PB AML Program Guide:</span>
            </div>
            <div class="rightz20">
                <label>{{getDescription(common.SelectYesNoNotRequired, kyc.answer7)}}</label>
            </div>
            <div class="leftz80">
                <span class="leftnormallabel">Have all <a href="http://wmg.wellsfargo.com/wmg_intranet/WMGDirectory/Compliance/PrivateBankingCompliance/Anti-MoneyLaundering/index.htm">Country Risk Designations</a> been considered per the PB AML Program Guide:</span>
            </div>
            <div class="rightz20 ">
                <label>{{getDescription(common.SelectYesNo, kyc.answer8)}}</label>
            </div>
            <div class="leftz80">
                <span class=" leftnormallabel">Were any negative news or red flags identified:</span>
            </div>
            <div class="rightz20">
                <label>{{getDescription(common.SelectYesNo, kyc.answer9)}}</label>
            </div>
            <div class="leftz80">
                <span class="leftnormallabel">If negative news or red flags were identified, have they been reviewed and approved by management and communicated to WM AML Compliance (WMAMLCompliance@wellsfargo.com):</span>
            </div>
            <div class="rightz20 ">
                <label>{{getDescription(common.SelectYesNo, kyc.answer10)}}</label>
            </div>
            <div class="leftz80">
                <span class="leftnormallabel">I have uploaded all negative news or red flag information to DSR Shoreview and informed the underwriter in the loan center:</span>
            </div>
            <div class="rightz20 ">
                <label>{{getDescription(common.SelectYesNo, kyc.answer11)}}</label>
            </div>
            <div class="leftz80">
                <span class="leftnormallabel">I have completed this form accurately and completely to the best of my knowledge. I understand that any misinformation on this form may pose risks to xxxxProjectxxx Bank and may result in impact to incentive compensation and/or disciplinary action up to and including termination:</span>
            </div>
            <div class="rightz20 ">
                <label class="textright">{{getDescription(common.SelectYesNo, kyc.answer12)}}</label>
            </div>
        </div>
    </div>
</div>
