<h2 class="underlined">Wealth Application(s) Summary<a data-toggle="collapse" href="javscript:void(0)" class="expand-collapse pull-right font11 arial noitalics open">Expand All Sections</a></h2>
<div class="tab-content ng-scope">
    <div class="tab-pane active" id="Div12" style="padding-bottom: 10px;">
        <div class="container" data-ng-controller="SummaryController" svpappinit>
            <div class="tab-pane active" id="Lance">
                <div class="panel-group accordion margintop10 " id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <a class="" data-toggle="collapse" href="javascript:void(0)" data-target="#basicInfoSummary"><span class="blacktext">Application General Information</span></a>
                            <a data-toggle="collapse" href="javascript:void(0)" data-target="#basicInfoSummary" class="accordToggle"></a>
                        </div>
                        <div id="basicInfoSummary" class="panel-collapse in" style="height: auto;">
                            <div class="panel-body">
                                <div data-ng-include="'./RetailBanking/Wealth/Views/Summary/BasicInfo.html'"></div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <a class="" data-toggle="collapse" href="javascript:void(0)" data-target="#productSummary">
                                <span class="blacktext">Product/s Requested</span>
                            </a>
                            <a data-toggle="collapse" href="javascript:void(0)" data-target="#productSummary" class="accordToggle"></a>
                        </div>
                        <div id="productSummary" class="panel-collapse collapse" style="height: auto;">
                            <div class="panel-body">
                                <div ng-repeat="prod in products">
                                    <div data-ng-include="'./RetailBanking/Wealth/Views/Summary/ProductSummary.html'"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <a class="" data-toggle="collapse" href="javascript:void(0)" data-target="#reCollateralSummary">
                                <span class="blacktext">Real Estate Collateral Information</span>
                            </a>
                            <a data-toggle="collapse" href="javascript:void(0)" data-target="#reCollateralSummary" class="accordToggle"></a>
                        </div>
                        <div id="reCollateralSummary" class="panel-collapse collapse" style="height: auto;">
                            <div class="panel-body">
                                <div data-ng-include="'./RetailBanking/Wealth/Views/Summary/RECollateralSummary.html'"></div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <a class="" data-toggle="collapse" href="javascript:void(0)" data-target="#personalFinanceSummary">
                                <span class="blacktext">Personal Finance Statement</span>
                            </a>
                            <a data-toggle="collapse" href="javascript:void(0)" data-target="#personalFinanceSummary" class="accordToggle"></a>
                        </div>
                        <div id="personalFinanceSummary" class="panel-collapse collapse" style="height: auto;">
                            <div class="panel-body">
                                <div data-ng-include="'./RetailBanking/Wealth/Views/Summary/PersonalFinanceSummary.html'"></div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <a class="" data-toggle="collapse" href="javascript:void(0)" data-target="#hmdaSummary">
                                <span class="blacktext">HMDA/GMI Information</span>
                            </a>
                            <a data-toggle="collapse" href="javascript:void(0)" data-target="#hmdaSummary" class="accordToggle"></a>
                        </div>
                        <div id="hmdaSummary" class="panel-collapse collapse" style="height: auto;">
                            <div class="panel-body">
                                <div data-ng-include="'./RetailBanking/Wealth/Views/Summary/HMDASummary.html'"></div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <a class="" data-toggle="collapse" href="javascript:void(0)" data-target="#kycSummary">
                                <span class="blacktext">AML/KYC Information</span>
                            </a>
                            <a data-toggle="collapse" href="javascript:void(0)" data-target="#kycSummary" class="accordToggle"></a>
                        </div>
                        <div id="kycSummary" class="panel-collapse collapse" style="height: auto;">
                            <div class="panel-body">
                                <div data-ng-include="'./RetailBanking/Wealth/Views/Summary/KYCSummary.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



