<div accordion-sections-link heading="Real Estate Collateral"  status="1"></div>

<div class="tab-content" ng-controller="RECollateralController" svpappinit>
    <div accordion heading="Collateral Property" panelid="dv25920112014" open="true">
        <div ui-view="CollateralProperty"></div>
    </div>

    <div accordion heading="Existing Mortgage On Collateral Property" panelid="dv31520112014" ng-show="rec.propertyFreeClearFlag == 'N'" >
        <div ui-view="MortgageCollateral"></div>
    </div>

    <div accordion heading="Homeowner’s Insurance" open="true" panelid="dv33920112014">
        <div ui-view="HomeownerInsurance"></div>
    </div>

    <!--div accordion heading="Housing Expenses" panelid="dv34020112014">
        <div ui-view="HousingExpenses"></div>
    </!--div!-->

    <div ui-view="Comment"></div>
</div>


