<div class="row">
    <!--article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
        <div class="jarviswidget" uap-header formname="User Access">
            <div ng-include src="'App/Admin/User/Views/MenuLink.html'">
            </div>
        </div>
    </article>
    
        <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
            <div class="jarviswidget"  uap-header formname="UAP States">
                <div ng-include src="'App/Admin/User/Views/RouterView.html'">
                </div>
            </div>
        </article!-->
    <div ng-include src="'App/Admin/Views/DebugMenu.html'"></div>

</div>
