
<article class="col-sm-12 col-md-12  col-lg-6 sortable-grid ui-sortable">


    <div class="jarviswidget  jarviswidget-sortable" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">

        <header role="heading">
            <div class="jarviswidget-ctrls" role="menu">   <a href="javascript:void(0);" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Collapse"><i class="fa fa-minus "></i></a> <a href="javascript:void(0);" class="button-icon jarviswidget-fullscreen-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand "></i></a> <a href="javascript:void(0);" class="button-icon jarviswidget-delete-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-times"></i></a></div>
            <span class="widget-icon"> <i class="fa "></i> </span>
            <h2 class="ng-binding">Testing Form</h2>

            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
        </header>

        <div role="content">

            <div class="jarviswidget-editbox">

            </div>

            <div class="widget-body no-padding">
                <form class="smart-form ng-pristine ng-valid">
                    <header class="ng-binding">
                        My Form testing...
                    </header>
                    <fieldset>
                        <div>
                            <div class="row ">
                                <section class="col col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    <label class=" label">Application No:</label>
                                    <label class="input  ">
                                        <i ng-if="option.icon != ''" class="icon-append fa  fa-home"></i>
                                        <input type="text" valid="valid=number#_#vmsg=Required" class="form-control " value="">
                                    </label>
                                </section><section class="col col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    <label class=" label">Amount:</label>
                                    <label class="input  ">
                                        <i ng-if="option.icon != ''" class="icon-append fa  fa-home"></i>
                                        <input type="text" valid="valid=number#_#vmsg=Required" class="form-control " value="">
                                    </label>
                                </section><section class="col col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    <label class=" label">Hold Date</label>
                                    <label class="input  ">
                                        <i ng-if="option.icon != ''" class="icon-append fa  fa-home"></i>
                                        <input type="text" valid="valid=number#_#vmsg=Required" class="form-control " value="">
                                    </label>
                                </section><section class="col col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    <label class=" label">EN Code</label>
                                    <label class="input  ">
                                        <i ng-if="option.icon != ''" class="icon-append fa  fa-home"></i>
                                        <input type="text" valid="valid=number#_#vmsg=Required" class="form-control " value="">
                                    </label>
                                </section><section class="col col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    <label class=" label">Status</label>
                                    <label class="input   state-error">
                                        <i ng-if="option.icon != ''" class="icon-append fa  fa-home"></i>
                                        <input type="text" valid="valid=number#_#vmsg=Required" class="form-control " value="">
                                    </label>
                                </section>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>

    </div>

</article>