<div class="sidebar" id="sidebar">
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>

    
    <ul class="nav nav-list" >
       

       <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-list"></i>
                <span class="menu-text"> Student </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li>
                    <a href="~/Student/Create">
                        <i class="icon-double-angle-right"></i>
                        Create 
                    </a>
                </li>

                
            </ul>
        </li>
        

         <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-list"></i>
                <span class="menu-text"> Settings </span>
                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                
                <li>
                     <a href="~/Master/Index">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text"> Class </span>
                        </a>
                </li>

                <li>
                    <a href="~/Employee/Create">
                        <i class="icon-double-angle-right"></i>
                        Employee
                    </a>
                   
                </li>
            </ul>
        </li>
        

        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-list"></i>
                <span class="menu-text"> Reports </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li>
                    <a href="tables.html">
                        <i class="icon-double-angle-right"></i>
                        Total Collection
                    </a>
                </li>

                <li>
                    <a href="jqgrid.html">
                        <i class="icon-double-angle-right"></i>
                        Student 
                    </a>
                </li>
            </ul>
        </li>

        

       

        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-file-alt"></i>

                <span class="menu-text">
                    Help
                    <span class="badge badge-primary ">5</span>
                </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li>
                    <a href="faq.html">
                        <i class="icon-double-angle-right"></i>
                        FAQ
                    </a>
                </li>

                <li>
                    <a href="error-404.html">
                        <i class="icon-double-angle-right"></i>
                        Contact
                    </a>
                </li>

                <li>
                    <a href="error-500.html">
                        <i class="icon-double-angle-right"></i>
                       Support
                    </a>
                </li>

               
            </ul>
        </li>
    </ul><!-- /.nav-list -->




    <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
    </div>

    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
    </script>
</div>