
<div class="navbar navbar-default" id="navbar" style="background-color:#e7e7e7;width:100%">

    <div id="navbar-container" style="width: 100%">

        <div class="navbar-header pull-left" style="width: 100%">
            <a href="http://shifa.in" class="navbar-brand">
                <small>
                    <img src="~/Content/themes/BootStrapSkin1/assets/img/ic_launcher.png" />
                </small>
            </a><!-- /.brand -->
            <ul class="big-btns">
                <li><a class="iapps" href="https://itunes.apple.com/us/app/shifa-kent-repertory-materia/id891998664?mt=8"> </a></li>
                <li><a class="gapps" href="https://play.google.com/store/apps/details?id=com.shifa.kent"> </a></li>
                
            </ul>
            
        </div><!-- /.navbar-header -->
    </div><!-- /.container -->
</div>
