<footer class="clearfix" ng-hide="_appErrorStatus == true || CurrentViewName == 'ProcessApp'">
        <div class="subnavbar">
            <div class="subnav-inner">
                <div style="text-align: center">
                    <a class="btn btn-primary" ng-hide="CurrentViewName == 'CreditDetail'" ng-click="movePrevious()">Previous</a>
                    <a class="btn btn-primary" ng-click="saveApplication()">Save</a>
                   
                        <a class="btn btn-primary" ng-hide="CurrentViewName == 'SubmitApp'" ng-click="verifyForm()">Continue</a>
                        
                        <a class="btn btn-primary" ng-show="CurrentViewName == 'SubmitApp'" ng-click="verifyForm()">Submit Application</a>
                        
                         
                    
                    
                    
                    
                    <a href="javascript:;" class="hidden" onclick="$('#sideMenu').removeClass('ng-hide')">.</a>

                </div>
            </div>
        </div>
    </footer>