<div ng-controller="SubmitAppController">
    
    <div class="containerZ">
        <h3><span class="georgia  font16 bolded">Customer Consent to </span><span class="greentext font16 bolded">Credit Bureau</span></h3>
   
    </div>
    <div class="containerZ">
        <h4 class="text-center bolded underlined">READ TO THE CUSTOMER</h4>
         <br/>
    </div>
    <div class="containerZ">
        <div>In order to complete the processing of your application, we may obtain information necessary to evaluate your income, collateral value (if applicable), and credit history, which may include a consumer credit report. </div>
        <br/>
    </div>
    <div class="containerZ">
        <div>Do you give your permission to proceed with the WMG application? <span class="star">*</span> <label><input valid="radio"  type="Radio" value="on" name="permission"/> Yes</label> <label><input type="Radio" value="off" checked="checked" name="permission"/> No</label></div>
        <br/>
    </div>
    <div class="containerZ">
        <div>By selecting "Submit Application", you acknowledge the customer has received the Product Disclosure and has agreed to the applicable terms and conditions. <span class="star">*</span> <input valid="check" value="on"  type="checkbox"/>
   

        </div>
    </div>
    
</div>