   
<div ng-show="isMemberOfOfficeTypeApplicable()" class="containerz" svpappinit>
    <div class="leftz greyrightborder">
        <div class="containerz">

            <div class="left100">
                <h4 class="georgia underlined clearfix">Members/Officers Details</h4>
            </div>
            <div class="alert alert-information marginbottom10" style="max-width: 100%; margin-left: 10px; margin-right: 10px">
                <p>
                    <strong>IMPORTANT: </strong>
                    <span>Please refer to the Banker  Checklist for Instructions by clicking the <a target="_blank" href="https://dssgweb.wellsfargo.com/idd/wealth/pnp.aspx?pnpid=4074&siteid=8">link</a></span>
                </p>
            </div>
            <div class="leftz  text-right">
                <span class="leftnormallabel">Role:</span>
            </div>
            <div class="rightz col-lg-12">
                <select  class="select" valid="select" vif="membersOfficer.name.length > 0 || membersOfficer.title != ''" ng-model="membersOfficer.role" style="width: 200px"
                    ng-options="type.key as type.value for type in common.ddMemberOfficerRole">
                </select>
            </div>
            <div class="leftz  text-right">
                <span class="leftnormallabel">Title/Position:</span>
            </div>
            <div class="rightz col-lg-12">
                <select class="select" valid="select" vif="membersOfficer.role != '' || membersOfficer.name.length > 0" ng-model="membersOfficer.title" style="width: 200px"
                    ng-options="type.key as type.value for type in common.ddTitleOrPosition">
                </select>
            </div>
            <div class="leftz  text-right">
                <span class="leftnormallabel">Name:</span>
            </div>
            <div class="rightz">
                <input  valid="text" vif="membersOfficer.title != '' || membersOfficer.role != ''"  vmsg="Member Office: Name should be only alpha numeric allowed" type="text" ng-model="membersOfficer.name" placeholder="" maxlength="30" />
            </div>
            <div class="leftz">
            </div>
            <div ng-hide="membersOfficers.length == 12 || editClicked" class="rightz">
                <button class="btn btn-primary" ng-click="addMembers(membersOfficer)">Add</button>
                <button class="btn btn-primary" ng-click="clearMembers()">Cancel</button>
            </div>
            <div ng-show="editClicked" class="rightz">
                <button class="btn btn-primary" ng-click="updateMembers(membersOfficer)">Update</button>
                <button class="btn btn-primary" ng-click="clearMembers()">Cancel</button>
            </div>
        </div>
    </div>

    <div class="rightz greyrightborder">
        <div class="containerz">
            <div class="left100">
                <h4 class="georgia underlined clearfix">Members/Officers List<label class="pull-right"> {{membersOfficers.length}}  of 12 </label></h4>
            </div>
            <table class="table table-responsive">
                <thead>
                    <tr style="background-color: #efefef!important; width: 100%;">
                        <th>Role</th>
                        <th>Title/Position</th>
                        <th>Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="leftnormallabel" ng-repeat="item in membersOfficers" >
                        <td>{{getDescription(common.ddMemberOfficerRole, item.role)}}</td>
                        <td>{{getDescription(common.ddTitleOrPosition, item.title)}}</td>
                        <td>{{item.name}}</td>
                        <td><a href="" ng-click="editMembers(item, $index)">
                            <img src="../../Global/Content/img/pencil.png" /></a></td>
                        <td><a href="" ng-click="deleteMembers($index)">
                            <img src="../../Global/Content/img/sml_fail.png" /></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


