<div ng-controller="maturingController">
<form name="maturingToolForms" novalidate>
    <div id="container">
        <table style="width: 100%">
            <tr class="rowSection">
                <td>
                    <img style="background-image: url(../../Global/Content/img/logo-wf.png)">
                </td>
                <td colspan="6" align="center"><span style="font-size: 22px; font-weight: bold;">Maturing Tool</span></td>
            </tr>
        </table>
        <div>
            <dl>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.accountNum.$error.required">
                        Account Number is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.accountNum.$error.pattern">
                        Invalid Account Number; Account Number should be an integer
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.currentBal.$error.required">
                        Current Balance is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="!maturingToolForms.currentBal.$error.required && maturingToolForms.currentBal.$error.pattern">
                        Invalid Current Balance; Current Balance should be in XX.XX format
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.maxLineAmount.$error.required">
                        Max Line Amount is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="!maturingToolForms.maxLineAmount.$error.required && maturingToolForms.maxLineAmount.$error.pattern">
                        Max Line Amount should be in XX.XX format
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.borrower1.$error.required">
                        Borrower1 is required
                    </span>
                </dd>
<!--                <dd>
                    <span class="errorMessages" ng-show="!maturingToolForms.borrower1.$error.required && maturingToolForms.borrower1.$error.pattern">
                        Invalid Borrower Name
                    </span>
                </dd>-->
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.address1.$error.required">
                        Address is required
                    </span>
                </dd>
<!--                <dd>
                    <span class="errorMessages" ng-show="!maturingToolForms.address1.$error.required && maturingToolForms.address1.$error.pattern">
                        Invalid Address
                    </span>
                </dd>-->
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.city.$error.required">
                        City is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.state.$error.required">
                        State is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.zip.$error.required">
                        Zip is required
                    </span>
                </dd>
<!--                <dd>
                    <span class="errorMessages" ng-show="!maturingToolForms.zip.$error.required && maturingToolForms.zip.$error.pattern">
                        Invalid zip
                    </span>
                </dd>-->
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP1Balance.$error.pattern">
                        Invalid EarlyPayDownProgram1 Balance; Balance should be in XX.XX format
                    </span>
                </dd>
                 <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP1Balance.$error.required">
                        EarlyPayDownProgram1 Balance is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP1Term.$error.pattern">
                        Invalid EarlyPayDownProgram1 Term; Term should be an integer
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP1Term.$error.required">
                        EarlyPayDownProgram1 Term is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP1Rate.$error.pattern">
                        Invalid EarlyPayDownProgram1 Rate; Rate should be in XX.XXX format
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP1Rate.$error.required">
                        EarlyPayDownProgram1 Rate is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP1Payment.$error.pattern">
                        Invalid EarlyPayDownProgram1 Payment; Payment should be in XX.XX format
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP1Payment.$error.required">
                        Invalid EarlyPayDownProgram1 Payment is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP2Balance.$error.pattern">
                        Invalid EarlyPayDownProgram2 Balance; Balance should be in XX.XX format
                    </span>
                </dd>
                  <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP2Balance.$error.required">
                        EarlyPayDownProgram2 Balance is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP2Term.$error.pattern">
                        Invalid EarlyPayDownProgram2 Term; Term should be an integer
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP2Term.$error.required">
                        EarlyPayDownProgram2 Term is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP2Rate.$error.pattern">
                        Invalid EarlyPayDownProgram2 Rate; Rate should be in XX.XXX format
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP2Rate.$error.required">
                        EarlyPayDownProgram2 Rate is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP2Payment.$error.pattern">
                        Invalid EarlyPayDownProgram2 Payment; Payment should be in XX.XX format
                    </span>
                </dd>
                 <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP2Payment.$error.required">
                        EarlyPayDownProgram2 Payment is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP3Balance.$error.pattern">
                        Invalid EarlyPayDownProgram3 Balance; Balance should be in XX.XX format
                    </span>
                </dd>
                 <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP3Balance.$error.required">
                        EarlyPayDownProgram3 Balance is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP3Term.$error.pattern">
                        Invalid EarlyPayDownProgram3 Term; Term should be an integer
                    </span>
                </dd>
                 <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP3Term.$error.required">
                        EarlyPayDownProgram3 Term is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP3Rate.$error.pattern">
                        Invalid EarlyPayDownProgram3 Rate; Rate should be in XX.XXX format
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP3Rate.$error.required">
                        EarlyPayDownProgram3 Rate is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP3Payment.$error.pattern">
                        Invalid EarlyPayDownProgram3 Payment; Payment should be in XX.XX format
                    </span>
                </dd>
                 <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP3Payment.$error.required">
                        EarlyPayDownProgram3 Payment is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP4Balance.$error.pattern">
                        Invalid EarlyPayDownProgram4 Balance; Balance should be in XX.XX format
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP4Balance.$error.required">
                        EarlyPayDownProgram4 Balance is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP4Term.$error.pattern">
                        Invalid EarlyPayDownProgram4 Term; Term should be an integer
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP4Term.$error.required">
                        EarlyPayDownProgram4 Term is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP4Rate.$error.pattern">
                        Invalid EarlyPayDownProgram4 Rate; Rate should be in XX.XXX format
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP4Rate.$error.required">
                        EarlyPayDownProgram4 Rate is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP4Payment.$error.pattern">
                        Invalid EarlyPayDownProgram4 Payment; Payment should be in XX.XX format
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.epdP4Payment.$error.required">
                        EarlyPayDownProgram4 Payment is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.payoffBalance.$error.pattern">
                        Payoff Balance should be in XX.XX format
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.payoffBalance.$error.required">
                        Payoff Balance is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.payAsOfDate.$error.required">
                        Payoff Date is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.estRepaymentAmount.$error.required">
                       Est. Repayment Amount is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.estRepaymentAmount.$error.pattern">
                        Est. Repayment Amount should be in XX.XX format
                    </span>
                </dd>
                 <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.repaymentTerm.$error.required">
                       Est. Repayment Term is required
                    </span>
                </dd>
                 <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.repaymentTerm.$error.pattern">
                        Invalid Repayment Term; Term should be an integer
                    </span>
                </dd>
                                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.agentName.$error.required">
                        Agent Name is required
                    </span>
                </dd>
                <dd>
                    <span class="errorMessages" ng-show="maturingToolForms.mnlsrid.$error.required">
                        MNLSRID is required
                    </span>
                </dd>
            </dl>
        </div>
        <div class="containertable">
            <div class="columnRow">
                <div class="column">
                    <label class="leftlabel">User Id:</label>
                </div>
                <div class="column">
                    <span class="labelText">{{heData.createdBy}}</span>
                </div>
                <div class="column">
                    <label class="leftlabel">Application Status:</label>
                </div>
                <div class="column">
                    <label style="color: blue; font-weight: bold">{{heData.screenDisplayStatus}}</label>
                </div>
                <div class="column">
                        <label class="errorMessages">{{heData.errorMessage}}</label>
                </div>
            </div>
            <div class="columnRow">
                <div class="column">
                    <label style="color: red">*</label>
                    <label class="leftlabel">Account Number:</label>
                </div>
                <div class="column">
                    <input ng-pattern="reNumber" name="accountNum" data-ng-model="heData.accountNum" data-ng-disabled="heData.btnRetrieve.isDisabled" type="text" required/>
                </div>
                <div class="column">
                    <label style="color: red">*</label>
                    <label class="leftlabel">Account Type:</label>
                </div>
            </div>
            <div class="columnRow">
                <div class="column">
                    <label style="color: red">*</label>
                    <label class="leftlabel">Current Balance:</label>
                </div>
                <div class="column">
                    <input name="currentBal" data-ng-model="heData.currentBal" type="text" ng-required="checkForSaveClick()" balance-format/>
                </div>
                <div class="column">
                    <input type="radio" data-ng-model="heData.accountType" value="EOD" data-ng-disabled="heData.btnRetrieve.isDisabled" />
                    <label class="leftlabel">End of draw</label>
                </div>
                <div class="column">
                    <label class="leftlabel">End of draw Date:</label>
                </div>
                <div class="column">
                    <input data-ng-model="heData.endOfDrawDate" name="endOfDrawDate" data-ng-disabled="heData.btnRetrieve.isDisabled" data-ng-required="heData.accountType == 'EOD'" type="text" />
                </div>
                <div class="column">
                    <label class="leftlabel">Disposition Code:</label>
                </div>
                <div class="column">
                    <input data-ng-model="heData.dispositionCode" name="dispositionCode" data-ng-disabled="heData.btnRetrieve.isDisabled" data-ng-required="heData.accountType == 'EOD'" type="text" />
                </div>
            </div>
            <div class="columnRow">
                <div class="column">
                </div>
                <div class="column">
                </div>
                <div class="column">
                    <input type="radio" data-ng-disabled="heData.btnRetrieve.isDisabled" data-ng-model="heData.accountType" value="BalloonLoan" />
                    <label class="leftlabel">Balloon Loan</label>
                </div>
                <div class="column">
                    <label class="leftlabel">Maturity Date:</label>
                </div>
                <div class="column">
                    <input data-ng-model="heData.bLoanMaturityDate" data-ng-disabled="heData.btnRetrieve.isDisabled" type="text" />
                </div>
            </div>
            <div class="columnRow">
                <div class="column">
                    <label class="leftlabel">Max Line Amount:</label>
                </div>
                <div class="column">
                    <input name="maxLineAmount" data-ng-model="heData.maxLineAmount" data-ng-required="heData.accountType == 'EOD' || heData.accountType == 'BallonLine'" type="text" amount-format/>
                </div>
                <div class="column">
                    <input type="radio" data-ng-model="heData.accountType" data-ng-disabled="heData.btnRetrieve.isDisabled" value="BalloonLine" />
                    <label class="leftlabel">Balloon Line</label>
                </div>
                <div class="column">
                    <label class="leftlabel">Maturity Date:</label>
                </div>
                <div class="column">
                    <input data-ng-model="heData.bLineMaturityDate" data-ng-disabled="heData.btnRetrieve.isDisabled" type="text" />
                </div>
            </div>
        </div>
        <div class="containertable">
            <div class="columnRow">
                <div class="column">
                    <label style="color: red">*</label>
                    <label class="leftlabel">Borrower1:</label>
                </div>
                <div class="borrowerColumn">
                    <input maxlength="50" style="width: 190px" name="borrower1" data-ng-model="heData.borrower1" type="text" ng-required="checkForSaveClick()"/>
                </div>
                <div class="column">
                    <label class="leftlabel">Borrower2:</label>
                </div>
                <div class="borrowerColumn">
                    <input maxlength="50" style="width: 190px" data-ng-model="heData.borrower2" type="text" />
                </div>
                <div class="column">
                    <label class="leftlabel">Borrower3:</label>
                </div>
                <div class="borrowerColumn">
                    <input maxlength="50" style="width: 190px" data-ng-model="heData.borrower3" type="text" />
                </div>
                <div class="column">
                    <label class="leftlabel">Borrower4:</label>
                </div>
                <div class="borrowerColumn">
                    <input maxlength="50" style="width: 190px" data-ng-model="heData.borrower4" type="text" />
                </div>
            </div>
            <div class="columnRow">
                <div class="column">
                    <label class="leftlabel">Borrower5:</label>
                </div>
                <div class="column">
                    <input maxlength="50" style="width: 190px" data-ng-model="heData.borrower5" type="text" />
                </div>
                <div class="column">
                    <label class="leftlabel">Borrower6:</label>
                </div>
                <div class="column">
                    <input maxlength="50" style="width: 190px"  data-ng-model="heData.borrower6" type="text" />
                </div>
                <div class="column">
                    <label class="leftlabel">Borrower7:</label>
                </div>
                <div class="column">
                    <input maxlength="50" style="width: 190px" data-ng-model="heData.borrower7" type="text" />
                </div>
                <div class="column">
                    <label class="leftlabel">Borrower8:</label>
                </div>
                <div class="column">
                    <input maxlength="50" style="width: 190px" data-ng-model="heData.borrower8" type="text" />
                </div>
                </div>
            </div>
        <div class="containertable">
            <div class="columnRow">
                <div class="column">
                    <label class="leftlabel">Mailing Address:</label>
                </div>
                <div class="column">
                    <label style="color: red">*</label>
                    <label class="leftlabel">Address1:</label>
                </div>
                <div class="column">
                    <label class="leftlabel">Address2(Optional):</label>
                </div>
                <div class="column">
                    <label style="color: red">*</label>
                    <label class="leftlabel">City:</label>
                </div>
                <div class="column">
                    <label style="color: red">*</label>
                    <label class="leftlabel">State:</label>
                </div>
                <div class="column">
                    <label style="color: red">*</label>
                    <label class="leftlabel">zip:</label>
                </div>
            </div>
            <div class="columnRow">
                <div class="column">

                </div>
                <div class="column">
                        <input maxlength="50" data-ng-model="heData.address1" name="address1" type="text" ng-required="checkForSaveClick()" />
                </div>
                <div class="column">
                    <input maxlength="50" data-ng-model="heData.address2" type="text" />
                </div>
                <div class="column">
                    <input maxlength="50" data-ng-model="heData.city" name="city" type="text" ng-required="checkForSaveClick()"/>
                </div>
                <div class="column">
                    <input maxlength="50" data-ng-model="heData.state" name="state" type="text" ng-required="checkForSaveClick()"/>
                </div>
                <div class="column">
                    <input maxlength="50" data-ng-model="heData.zip" name="zip" type="text" ng-required="checkForSaveClick()"/>
                </div>
            </div>
        </div>
        <div class="containertable">
            <div class="column">
                <input type="checkbox" data-ng-model="heData.isEmail" data-ng-change="changeButtonLabel(heData.isEmail)" />
                <label class="leftlabel">Email Document to Customer?</label>
            </div>
            <div class="column">
                <label class="leftlabel">Customer Email Address:</label>
            </div>
            <div class="column">
                <input data-ng-model="heData.emailAddress" name="emailAddress" data-ng-disabled="checkEmailDocumentsFlag()" type="email" ng-required="heData.isEmail"/>
                <small class="error" data-ng-show="maturingToolForms.emailAddress.$error.email">
                    Invalid email address
                </small>
                <small class="error" data-ng-show="maturingToolForms.emailAddress.$error.required">
                    Email address is required
                </small>
            </div>
        </div>
        <table style="width: 100%">
            <tr class="rowSection">
                <td colspan="7" align="center"><span style="font-size: 22px; font-weight: bold;">Product Options</span></td>
            </tr>
        </table>
        <div class="containertable">
            <div class="column">
                <input type="checkbox" data-ng-model="heData.isepdP1" data-ng-disabled="checkAccountTypeForEPD()" />
                <label class="leftlabel">Early Pay Down Program1</label>
            </div>
            <div class="column">
                <label class="leftlabel">Balance :</label>
                <input ng-required="checkForButtonProcessingClick(heData.isepdP1)" name="epdP1Balance" data-ng-model="heData.epdP1Balance" data-ng-disabled="checkEPDProgram1()" type="text" balance-format/>
            </div>
            <div class="column">
                <label class="leftlabel">Term :</label>
                <input ng-required="checkForButtonProcessingClick(heData.isepdP1)" ng-pattern="reNumber" data-ng-model="heData.epdP1Term" name="epdP1Term" data-ng-disabled="checkEPDProgram1()" type="text" maxlength="2"/>
            </div>
            <div class="column">
                <label class="leftlabel">Rate:</label>
                <input ng-required="checkForButtonProcessingClick(heData.isepdP1)" ng-pattern="reRateFormat" name="epdP1Rate" data-ng-model="heData.epdP1Rate" data-ng-disabled="checkEPDProgram1()" type="text" />
            </div>
            <div class="column">
                <label class="leftlabel">Payment:</label>
                <input ng-required="checkForButtonProcessingClick(heData.isepdP1)" name="epdP1Payment" data-ng-model="heData.epdP1Payment" data-ng-disabled="checkEPDProgram1()" type="text" payment-format/>
            </div>
        </div>
        <div class="containertable">
            <div class="column">
                <input type="checkbox" data-ng-model="heData.isepdP2" data-ng-disabled="checkAccountTypeForEPD()" />
                <label class="leftlabel">Early Pay Down Program2</label>
            </div>
            <div class="column">
                <label class="leftlabel">Balance :</label>
                <input ng-required="checkForButtonProcessingClick(heData.isepdP2)" name="epdP2Balance" data-ng-model="heData.epdP2Balance" data-ng-disabled="checkEPDProgram2()" type="text" balance-format/>
            </div>
            <div class="column">
                <label class="leftlabel">Term :</label>
                <input ng-required="checkForButtonProcessingClick(heData.isepdP2)" ng-pattern="reNumber" name="epdP2Term" data-ng-model="heData.epdP2Term" data-ng-disabled="checkEPDProgram2()" type="text" maxlength="2"/>
            </div>
            <div class="column">
                <label class="leftlabel">Rate:</label>
                <input ng-required="checkForButtonProcessingClick(heData.isepdP2)" ng-pattern="reRateFormat" name="epdP2Rate" data-ng-model="heData.epdP2Rate" data-ng-disabled="checkEPDProgram2()" type="text" />
            </div>
            <div class="column">
                <label class="leftlabel">Payment:</label>
                <input ng-required="checkForButtonProcessingClick(heData.isepdP2)" name="epdP2Payment" data-ng-model="heData.epdP2Payment" data-ng-disabled="checkEPDProgram2()" type="text" payment-format/>
            </div>
        </div>
        <div class="containertable">
            <div class="column">
                <input type="checkbox" data-ng-model="heData.isepdP3" data-ng-disabled="checkAccountTypeForEPD()" />
                <label class="leftlabel">Early Pay Down Program3</label>
            </div>
            <div class="column">
                <label class="leftlabel">Balance :</label>
                <input ng-required="checkForButtonProcessingClick(heData.isepdP3)" name="epdP3Balance" data-ng-model="heData.epdP3Balance" data-ng-disabled="checkEPDProgram3()" type="text" balance-format/>
            </div>
            <div class="column">
                <label class="leftlabel">Term :</label>
                <input ng-required="checkForButtonProcessingClick(heData.isepdP3)" ng-pattern="reNumber" name="epdP3Term" data-ng-model="heData.epdP3Term" data-ng-disabled="checkEPDProgram3()" type="text" maxlength="2"/>
            </div>
            <div class="column">
                <label class="leftlabel">Rate:</label>
                <input ng-required="checkForButtonProcessingClick(heData.isepdP3)" ng-pattern="reRateFormat" name="epdP3Rate" data-ng-model="heData.epdP3Rate" data-ng-disabled="checkEPDProgram3()" type="text" />
            </div>
            <div class="column">
                <label class="leftlabel">Payment:</label>
                <input ng-required="checkForButtonProcessingClick(heData.isepdP3)" name="epdP3Payment" data-ng-model="heData.epdP3Payment" data-ng-disabled="checkEPDProgram3()" type="text" payment-format/>
            </div>
        </div>
        <div class="containertable">
            <div class="column">
                <input type="checkbox" data-ng-model="heData.isepdP4" data-ng-disabled="checkAccountTypeForEPD()" />
                <label class="leftlabel">Early Pay Down Program4</label>
            </div>
            <div class="column">
                <label class="leftlabel">Balance :</label>
                <input ng-required="checkForButtonProcessingClick(heData.isepdP4)" name="epdP4Balance" data-ng-model="heData.epdP4Balance" data-ng-disabled="checkEPDProgram4()" type="text" balance-format/>
            </div>
            <div class="column">
                <label class="leftlabel">Term :</label>
                <input ng-required="checkForButtonProcessingClick(heData.isepdP4)" ng-pattern="reNumber" name="epdP4Term" data-ng-model="heData.epdP4Term" data-ng-disabled="checkEPDProgram4()" type="text" maxlength="2"/>
            </div>
            <div class="column">
                <label class="leftlabel">Rate:</label>
                <input ng-required="checkForButtonProcessingClick(heData.isepdP4)" ng-pattern="reRateFormat" name="epdP4Rate" data-ng-model="heData.epdP4Rate" data-ng-disabled="checkEPDProgram4()" type="text" />
            </div>
            <div class="column">
                <label class="leftlabel">Payment:</label>
                <input ng-required="checkForButtonProcessingClick(heData.isepdP4)" name="epdP4Payment" data-ng-model="heData.epdP4Payment" data-ng-disabled="checkEPDProgram4()" type="text" payment-format/>
            </div>
        </div>
        <div class="containertable">
            <div class="column">
                <input type="checkbox" data-ng-model="heData.isNewHELineOfCredit" />
                <label class="leftlabel">New Home Equity Line Of Credit</label>
            </div>
        </div>
        <div class="containertable" ng-hide="checkNewHomeLoanDate()">
            <div class="column">
                <input type="checkbox" data-ng-model="heData.isNewHELoan" />
                <label class="leftlabel">New Home Equity Loan</label>
            </div>
        </div>
        <div class="containertable">
            <div class="column">
                <input type="checkbox" data-ng-model="heData.isPayoff" />
                <label class="leftlabel">Payoff</label>
            </div>
            <div class="column">
                <label class="leftlabel">Payoff Balance:</label>
                <input name="payoffBalance" data-ng-model="heData.payoffBalance" type="text" data-ng-required="checkPayoffIndicator()" amount-format/>
            </div>
            <div class="column">
                <label class="leftlabel">As of:</label>
                <input id="payAsOfDate" name="payAsOfDate" readonly="" data-ng-model="heData.payoffAsOfDate" type="text" data-ng-required="checkPayoffIndicator()" mt-datepicker value="">
                <label for="payAsOfDate" data-group="expiration-group" class="icon-calendar"></label>
            </div>
        </div>
        <div class="containertable">
            <div class="column">
                <input type="checkbox" data-ng-model="heData.isRepayment" data-ng-disabled="checkAccountTypeForRepayment()" />
                <label class="leftlabel">Repayment</label>
            </div>
            <div class="column">
                <label class="leftlabel">Est Payment Amount:</label>
                <input data-ng-model="heData.estRepaymentAmount" name="estRepaymentAmount" data-ng-disabled="checkAccountTypeForRepayment()" data-ng-required="checkRepaymentIndicator()" type="text" payment-format/>
            </div>
            <div class="column">
                <label class="leftlabel">Term:</label>
                <input ng-pattern="reNumber" data-ng-model="heData.repaymentTerm" name="repaymentTerm" data-ng-disabled="checkAccountTypeForRepayment()" data-ng-required="checkRepaymentIndicator()" type="text" maxlength="2"/>
            </div>
        </div>
        <div class="containertable">
            <div class="column">
                <input type="checkbox" data-ng-model="heData.iswfHomeMortgateRefi" />
                <label class="leftlabel">Wells Fargo Home Mortgage Refinance</label>
            </div>
        </div>
        <div class="containertable">
            <div class="column">
                <input type="checkbox" data-ng-model="heData.isOtherOptions" />
                <label class="leftlabel">Other Options</label>
            </div>
            <div class="column">
                <label class="leftlabel">We may have discussed other options not reflected in the above information. Please let me know if you would like to discuss in more detail.</label>
            </div>
        </div>
        <div class="containertable">
            <div class="column" align="center">
                <label style="color: red">*</label>
                <label class="leftlabel">Agent Name</label>:
                <input data-ng-model="heData.agentName" name="agentName" data-ng-disabled="true" type="text" ng-required="checkForSaveClick()"/>
            </div>
            <div class="column" align="center">
                <label style="color: red">*</label>
                <label class="leftlabel">NMLSR ID #:</label>
                <input data-ng-model="heData.mnlsrid" name="mnlsrid" data-ng-disabled="true" type="text" ng-required="checkForSaveClick()"/>
            </div>
        </div>
        <div class="subnavbar">
            <div class="subnav-inner">
                <div style="text-align: center">
                    <a class="btn btn-primary" ng-hide="heData.btnRetrieve.isHidden" ng-click="btnRetrieveData(heData.accountNum)" ng-disabled="heData.btnRetrieve.isDisabled">Retrieve Data</a>
                    <a class="btn btn-primary" ng-click="btnSave(heData.btnSave)" ng-disabled="heData.btnSave.isDisabled" ng-hide="heData.btnSave.isHidden">{{heData.btnSave.label}}</a>
                    <a class="btn btn-primary" ng-click="btnCancel(heData.btnCancel)" ng-disabled="heData.btnCancel.isDisabled" ng-hide="heData.btnCancel.isHidden">{{heData.btnCancel.label}}</a>
                    <a class="btn btn-primary" ng-click="btnSave(heData.btnSubmitForProcessing)" ng-disabled="heData.btnSubmitForProcessing.isDisabled" ng-hide="heData.btnSubmitForProcessing.isHidden">{{heData.btnSubmitForProcessing.label}}</a>
                        <input class="btn btn-primary" type="button" ng-click="backtoStatus()" value="Back to Status Screen">
                </div>
            </div>
        </div>
        <div class="error" ng-hide="!anglar.isDefined(error)">Error Occurred, please contact tech support</div>
    </div>
    <div loader="showLoader"></div>
</form>
</div>
