<div ng-hide="_appErrorStatus == true" >
    <ul class="wmgheader nav nav-tabs nav-tabs-top ng-scope">

        <li style="width: 3px"><a href="javascript:void(0)">&nbsp;</a></li>
        <li wmg-breadcrumb-directive ng-repeat="input in routingStates | filter:'MainPage'"></li>
    </ul>
    <br />
        </div>


 <div ng-show="failurePreview.errorSummary.length > 0"  >
     <div class="alert alert-information ng-scope" wmgautoheight style="max-width: 100%; margin-right: 8px;">
         <p>Please provide the required information highlighted in red</p>
     </div>
     
 <br />
</div>


<div ng-show="_isCollateral.given == false" >
    <div class="alert alert-information ng-scope" style="max-width: 100%; margin-right: 8px;">
        <p>Atleast one deposit or marketable collateral must be entered</p>
    </div>
    
<br />
</div>


    

<div ng-show="jsonPreview == ''" style="display: none">
    <div class="alert alert-sucess ng-scope" wmgautoheight style="max-width: 100%; margin-right: 8px;">
        <p>No Data Found</p>
    </div>
</div>
<br />
<div ng-if="Local == true && (NC.l != ''  || NC.w != ''  || NC.e != '')">
    <pre>{{NC}}</pre>
</div>