<div class="containerZ">
    <div class="containerZ marginleft20 marginbottom10">
        <h3 ng-hide="realEstateHoldings.length == 0" class="georgia underlined marginbottom10"><span><b>Schedule 3:</b> Real Estate Holdings (Mortgages or Liens)</span><span class="pull-right"> {{realEstateHoldings.length}} of 10 </span></h3>
    </div>
    <div class="containerZ tab-contentGrey" ng-hide="realEstateHoldings.length == 0">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th class="linkHeader">Type</th>
                    <th class="linkHeader">Address</th>
                    <th class="linkHeader">Est. Market Value</th>
                    <th class="linkHeader">Annual Rent Income</th>
                    <th class="linkHeader">Insurance in Payment</th>
                    <th class="linkHeader">Monthly Taxes</th>
                    <th class="linkHeader">Taxes in Payment</th>
                    <th class="linkHeader"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="realEstateOwned in realEstateHoldings" wmgautoheight>
                    <td class="leftlabel">{{getDescription(common.ddSchedule3Types, realEstateOwned.reoType)}}</td>
                    <td class="leftlabel">{{realEstateOwned.reoAddrStreet}}</td>
                    <td class="leftlabel">{{realEstateOwned.reoPresentMktValue}}</td>
                    <td class="leftlabel">{{realEstateOwned.reoGrossRentalIncome}}</td>
                    <td class="leftlabel">{{realEstateOwned.reoHOInsurance}}</td>
                    <td class="leftlabel">{{realEstateOwned.reoMonthlyTaxes}}</td>
                    <td class="leftlabel">{{realEstateOwned.reoTaxEscrowInd}}</td>
                    <td class="leftlabel">
                        <a href="#schedule3" id="schedule3-form" class="graytext js-add"  ng-click="editModalPopup($index)">Edit</a>
                        <a class="graytext js-add  " style="border-left: none!important; border-right: none!important;">|</a>
                        <a ng-click="removeRealEstateHolding($index)" class ="pointer" ng-attr-href="javascript:void(0)"  style="border-left: none!important; border-right: none!important;">Remove</a>
                    </td>
                </tr>
                <tr>
                    <td class="leftlabel"></td>
                    <td class="leftlabel"></td>
                    <td class="bolded underlined ">{{getTotalPresentMktValue()}}</td>
                    <td class="bolded underlined ">{{getTotalGrossRentalIncome()}}</td>
                    <td class="bolded underlined ">{{getTotalInsurancePayment()}}</td>
                    <td class="bolded underlined  ">{{getTotalMonthlyTaxes()}}</td>
                    <td class="bolded underlined  "></td>
                    <td class="leftlabel"></td>
            </tr>
            </tbody>
        </table>
       
    </div>
</div>
