<!--------------------------------Automated Clearing House----------------------------------------------------!-->
<div ng-show="product.isACHApplicable == 'Y'">
    <h3 class="georgia underlined clearfix"><span>Automated Clearing House</span></h3><!-- Heading!-->
    <div ng-include="'Views/ProductFeatures/ACH/SummaryTable.html'"></div><!-- Summary!-->
    <a ng-hide="ach.length" ng-attr-href="{{ '#ProductFeaturesACH-' + title }}"  ng-attr-id="{{ 'ModalACH-' + title }}"  class="btn btn-info editlink pull-left" style="line-height: 1.0em;" data-buttontext="Close" data-cancelbtn="false" data-title="Automated Clearing House">Add ACH</a><!-- Modal popup add button!--><br />
</div>

<!--------------------------------OverDraft Protection------------------------------------------------------!-->
<div ng-show="{{product.isODPApplicable == 'Y'}}">
    <h3 class="georgia underlined clearfix"><span>OverDraft Protection</span></h3><!-- Heading!-->
    <div ng-include="'Views/ProductFeatures/ODP/SummaryTable.html'"></div><!-- Summary-->
    <a  ng-hide="odp.length" ng-attr-href="{{ '#ProductFeaturesODP-' + title }}"  ng-attr-id="{{ 'ModalODP-' + title }}"  class="btn btn-info editlink pull-left" style="line-height: 1.0em;" data-buttontext="Close" data-cancelbtn="false" data-title="OverDraft Protection">Add ODP</a><!-- Modal popup add button!--><br />
</div>

<!-------------------------------Check Payment---------------------------------------------------------!-->
<div ng-show="{{product.isChkApplicable == 'Y'}}">
    <h3 class="georgia underlined clearfix"><span>Check Payment</span></h3>
    <a  href="javascript:void(0)" disabled class="btn btn-info editlink pull-left" id="ModalCheck" style="line-height: 1.0em;" data-buttontext="Close" data-cancelbtn="false" data-title="Product Collataral">Add Check</a>
    <br />
</div>

<!-------------------------------Marketable Collateral---------------------------------------------------------!-->
<div ng-show="{{product.isNonRECollateralApplicable == 'Y'}}">
    <h3 class="georgia underlined clarfix"><span>Marketable Collateral</span></h3><!-- Heading!-->
    <div ng-include="'Views/Collateral/Marketable/SummaryTable.html'"></div><!-- Summary-->
    <a ng-attr-href="{{ '#CollateralsMarketable-' + title }}"  ng-attr-id="{{ 'ModalCollateralMarketable-' + title }}"  class="btn btn-info editlink pull-left" style="line-height: 1.0em;" data-buttontext="Close" data-cancelbtn="false" data-title="Marketable Collateral">Add Marketable</a><!-- Modal popup add button!--><br />

    <!-------------------------------CD Saving Collateral---------------------------------------------------------!-->
    <h3 class="georgia underlined clearfix"><span>CD Savings Collateral</span></h3><!--ODP Heading!-->
    <div ng-include="'Views/Collateral/CDSaving/SummaryTable.html'"></div><!-- Summary-->
    <a ng-attr-href="{{ '#CollateralsCD-' + title }}"  ng-attr-id="{{ 'ModalCollateralCDSaving-' + title }}"  class="btn btn-info editlink pull-left" style="line-height: 1.0em;" data-buttontext="Close" data-cancelbtn="false" data-title="CD Saving">Add CD Saving</a><!-- Modal popup add button!--><br />
</div>





