#container {
    margin: 0 auto;
    width: 98%;
}

.containermargin { margin: 0 auto; }

.labelText {
    font-size: 15px;
    font-weight: normal;
    font-weight: bold;
}

.rowSection { background-color: lightblue; }

body {
    background-color: #ffffff;
    color: #333;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: .85em;
    margin: 0;
    padding: 0;
}

td input[type="text"] {
    border: 1px solid #ccc;
    height: 20px;
}

.buttons {
    background: #4F87E2;
    border-top: 1px solid #EEE;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    color: white;
    font-family: verdana, serif;
    font-size: 15px;
    font-weight: bold;
    padding: 3.5px 7px;
    text-decoration: none;
    vertical-align: middle;
}