<div style="display: table;margin: 0 auto;" id="myframeloading"><img src="Content/img/loading.gif" /></div>

<iframe  ng-src="{{URLWrap.getUrl()}}" allow allowfullscreen onload="framestartup();" frameborder="0" width="100%" height="700px" id="iframe1"></iframe>
    
<script language="JavaScript">
    function framestartup() {
        try {
            document.getElementById("myframeloading").style.display = "none";
        } catch (e) {
        }
    }

    function getDocHeight(doc) {
        try {
            doc = doc || document;
            var body = doc.body, html = doc.documentElement;
            var height = Math.max(body.scrollHeight, body.offsetHeight);
            height = height + 50;
            return height;
        } catch (e) {
        }
    }

    var iFrameheight = 0;
    function setIframeHeight(id) {
        try {
            var ifrm = document.getElementById(id);
            var doc = ifrm.contentDocument ? ifrm.contentDocument :
                ifrm.contentWindow.document;

            if (iFrameheight != getDocHeight(doc)) {
                iFrameheight = getDocHeight(doc);
                ifrm.style.height = iFrameheight + "px";
            }


        } catch (e) {
        }

    }

    try {
        setInterval(function() {

            setIframeHeight("iframe1");
   
        }, 2000);
    } catch (exception) {

    }
</script>
    