    <div class="row" ng-controller="ProfileCtrl">
    <div class="col-sm-12">
        <div class="well well-sm">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="well well-light well-sm no-margin no-padding">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-fade profile-carousel" id="myCarousel" data-ride="carousel">
                                 <div class="carousel-inner">
                                        <!-- Slide 1 -->
                                        <div class="item active" ng-random>
                                            <img alt="demo user" src="Content/img/demo/s{{getRandomSpan()}}.jpg" />
                                        </div>
                                       
                                    </div>
                                    <div class="air air-top-left padding-10">
                                        <h4 class="txt-color-white font-md">&nbsp;&nbsp;{{$storage.user.profile.joiningDt}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-3 profile-pic">
                                        <img alt="demo user" ng-src="{{$storage.user.profile.avatar}}" />
                                        <div class="padding-10">
                                            <h4 class="font-md">
                                                <strong>Ad-Ent Id</strong>
                                                <br>
                                                <small>{{$storage.user.profile.adEntId}}</small>
                                            </h4>
                                            <br>
                                            <h4 class="font-md">
                                                <strong>Wells Fargo</strong>
                                                <br>
                                                <small>{{$storage.user.profile.wellfargoid}}</small>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <h1>
                                            {{$storage.user.profile.displayname}}<span class="semi-bold">, {{$storage.user.role}}</span>
                                            <br>
                                            <small> {{$storage.user.profile.designation}}</small>
                                        </h1>

                                        <ul class="list-unstyled">
                                            <li>
                                                <p class="text-muted">
                                                    <i class="fa fa-phone"></i>&nbsp;&nbsp;(<span class="txt-color-darken">{{$storage.user.profile.areacode}}</span>) <span class="txt-color-darken">{{$storage.user.profile.extension}}</span>
                                                    <!--- <span class="txt-color-darken">6473</span>-->
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                    <i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:{{$storage.user.profile.email}}">{{$storage.user.profile.email}}</a>
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                    <i class="fa fa-mail-reply"></i>&nbsp;&nbsp;<span class="txt-color-darken">{{$storage.user.profile.lync}}</span>
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                    <i class="fa fa-calendar"></i>&nbsp;&nbsp;<span class="txt-color-darken">{{$storage.user.profile.calendar}} <a title="" href="javascript:void(0);" rel="tooltip" data-original-title="Create an Appointment" data-placement="top">{{$storage.user.profile.datetime}}</a></span>
                                                </p>
                                            </li>
                                        </ul>
                                        <br>
                                        <p class="font-md">
                                            <i>{{$storage.user.profile.title}}</i>
                                        </p>
                                        <p>
                                            {{$storage.user.profile.description}}
                                        </p>
                                        <br>
                                        <a href="mailto:{{$storage.user.profile.email}}" class="btn btn-default btn-xs" href="javascript:void(0);"><i class="fa fa-envelope-o"></i> Send Message</a>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>