<div class="row">
    <div class="col-xs-12 wf-appbanner {{form.size}}">
        

        <div class="panel-group wf-appbanner-accordion" id="wf-appbanner-accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default wf-appbanner-panel">
                <div class="panel-heading" role="tab" id="wf-appbanner-panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#wf-appbanner-accordion" href="#wf-appbanner-panel-p1" aria-expanded="true" aria-controls="wf-appbanner-panel-p1">
                            {{form.heading}} {{form.formcaption}} <span class="fa fa-caret-down pull-right"><i class="fa {{form.formicon}}"></i></span>
                        </a>
                    </h4>
                </div>
                <div id="wf-appbanner-panel-p1" class="panel-collapse collapse in wf-appbanner-panel-p1" role="tabpanel" aria-labelledby="wf-appbanner-panel-heading">
                    <div class="panel-body" ng-repeat="row in form.fields">
                        <div class="row" ng-repeat="item in row">
                            <div class="col-xs-12  {{option.cls}} " ng-repeat="option in item">
                                <div class="form-group">
                                    <label contenteditable="true" ng-if="option.label != ''" class="control-label {{form.classlabel}} ">{{option.label}}</label>
                                    <i class="icon-append fa {{option.icon}}"></i>
                                    <app-input option="option"></app-input>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
