<div ng-show="isInformationForBankerApplicable()">
    <div class="clearfix col col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 class="georgia underlined marginbottom10"><span>&nbsp;Information For Banker</span></h3>
    </div>
    <div class="row">
        <dl class="formset clearfix col col-lg-12 col-md-8 col-sm-8 col-xs-12 margintop0 marginbottom0">

            <dd style="width: 100%">
                <div class="alert alert-information">
                    <span class="greytext">If the applicants, who are present, do not wish to indicate their ethnicity, race, and gender, inform the applicant that if he/she chooses not to furnish the information, you are required by federal regulation to complete this information based upon visual observation or surname.</span>
                </div>
            </dd>
        </dl>
    </div>
</div>