<div id="" class="panel-collapse in" style="height: auto;">
    <div class="panel-body">
        <div class="">
            <div class="containerZ">
                <div class="leftz80">
                    <h3 class="georgia underlined clearfix" style="text-align: left; margin-left: 20px;"><span>Assets and Liabilities</span></h3>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="left">
                        <dl>
                            <dt><span class="leftlabel">Total Assets:</span></dt>
                            <dd>
                                <label>Value</label>
                            </dd>

                            <dt><span class="leftlabel">Total Liabilities:</span></dt>
                            <dd>
                                <label>Value</label>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="">
            <div class="containerZ">
                <div class="leftz80">
                    <h3 class="georgia underlined clearfix" style="text-align: left; margin-left: 20px;"><span>Schedule 2: Notes Receivable</span></h3>
                </div>
            </div>
            <div class="row">
                <div class="container marginleft20 marginright20">
                    <div class="left">
                        <table class="table table-align3col">
                            <thead>
                                <tr>
                                    <th>Name of Debtor</th>
                                    <th>Collateral Type</th>
                                    <th>Maturity Date</th>
                                    <th>Annual P & I</th>
                                    <th>Unpain Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="realEstateOwned in realEstateHoldings" >
                                    <td>{{realEstateOwned.unknown1}}</td>
                                    <td>{{realEstateOwned.reoAddrStreet}}</td>
                                    <td>{{realEstateOwned.reoPresentMktValue}}</td>
                                    <td>{{realEstateOwned.reoGrossRentalIncome}}</td>
                                    <td>{{realEstateOwned.reoHOInsurance}}</td>
                                    <td>{{realEstateOwned.reoMonthlyTaxes}}</td>
                                    <td>{{realEstateOwned.unknown8}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="">
            <div class="containerZ">
                <div class="leftz80">
                    <h3 class="georgia underlined clearfix" style="text-align: left; margin-left: 20px;"><span>Schedule 3:Real Estate Holdings (Mortgages or Liens)</span></h3>
                </div>
            </div>
            <div class="row">
                <div class="container marginleft20 marginright20">
                    <div class="left">
                        <table class="table table-align3col">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Address</th>
                                    <th>Est. Market Value</th>
                                    <th>Annual Rent Income</th>
                                    <th>Insurance in Payment</th>
                                    <th>Monthly Taxes</th>
                                    <th>Taxes in Payment</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="realEstateOwned in realEstateHoldings">
                                    <td>{{getDescription(common.SelectYesNo, realEstateOwned.unknown1)}}</td>
                                    <td>{{realEstateOwned.reoAddrStreet}}</td>
                                    <td>{{realEstateOwned.reoPresentMktValue}}</td>
                                    <td>{{realEstateOwned.reoGrossRentalIncome}}</td>
                                    <td>{{realEstateOwned.reoHOInsurance}}</td>
                                    <td>{{realEstateOwned.reoMonthlyTaxes}}</td>
                                    <td>{{realEstateOwned.unknown8}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
