<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <a class="" data-toggle="collapse" href="javascript:void(0)" data-target="{{'#product-' + prod.productID}}">
            <span class="blacktext">{{prod.productName}}-{{prod.productID}}</span>
        </a>
        <a data-toggle="collapse" href="javascript:void(0)" data-target="{{'#product-' + prod.productID}}" class="accordToggle"></a>
    </div>
    <div id="{{'product-' + prod.productID}}" class="panel-collapse in" style="height: auto;">
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <a class="" data-toggle="collapse" href="javascript:void(0)" data-target="{{'#productBasicInformation-' + prod.productID}}">
                        <span class="blacktext marginleft20">Basic Information</span>
                    </a>
                    <a data-toggle="collapse" href="javascript:void(0)" data-target="{{'#productBasicInformation-' + prod.productID}}" class="accordToggle"></a>
                </div>
                <div ng-attr-id="{{'productBasicInformation-' + prod.productID}}" class="panel-collapse in" style="height: auto;">
                    <div class="panel-body marginbottom30">
                        <div class="containerz">
                            <div class="leftz alignright">
                                <span class="leftlabel">Total Amount Requested:
                                </span>
                            </div>
                            <div class="rightz">
                                <label>{{prod.loanAmtRequested}}</label>
                            </div>
                            <div class="leftz alignright">
                                <span class="leftlabel">Purpose:</span>
                            </div>
                            <div class="rightz">
                                <label>{{getDescription(common.DD_ProductPurposeItem, prod.loanPurpose)}}</label>
                            </div>
                            <div class="leftz alignright">
                                <span class="leftlabel">Purpose Description:</span>
                            </div>
                            <div class="rightz">
                                <label>{{prod.purposeDesc}}</label>
                            </div>
                            <div class="leftz alignright">
                                <span class="leftlabel">State Loan Will Close In:</span>
                            </div>
                            <div class="rightz">
                                <label>{{getDescription(common.DD_ProductStateLoanWillCloseIn, prod.stateLoanClosedIn)}}</label>
                            </div>
                            <div class="leftz alignright">
                                <span class="leftlabel">Desired Closing Date:</span>
                            </div>
                            <div class="rightz">
                                <label>{{prod.desiredClosingDate}}</label>
                            </div>
                            <div class="leftz alignright">
                                <span class="leftlabel">Term:</span>
                            </div>
                            <div class="rightz">
                                <label>{{prod.term}}</label>
                            </div>
                            <div class="leftz alignright">
                                <span class="leftlabel">Are all of the collateral accounts funded at Wells Fargo:
                                </span>
                            </div>
                            <div class="rightz">
                                <label>{{getDescription(common.SelectYesNo, prod.WFFundedInd)}}</label>
                            </div>
                            <div class="leftz alignright">
                                <span class="leftlabel">Is this request to refinance or payoff a loan or line which is secured by Liquid Collateral:
                                </span>
                            </div>
                            <div class="rightz">
                                <label>{{getDescription(common.SelectYesNo, prod.payoffRefiLiquidCollateralInd)}}</label>
                            </div>
                            <div class="leftz alignright">
                                <span class="leftlabel">Payment Type:
                                </span>
                            </div>
                            <div class="rightz">
                                <label>{{getDescription(common.DD_ProductPaymentType, prod.paymentType)}}</label>
                            </div>
                            <div class="leftz alignright">
                                <span class="leftlabel">Payment Frequency:
                                </span>
                            </div>
                            <div class="rightz">
                                <label>{{getDescription(common.DD_ProductPaymentFrequency, prod.paymentFrequency)}}</label>
                            </div>
                            <div class="leftz alignright">
                                <span class="leftlabel">Margin Index:
                                </span>
                            </div>
                            <div class="rightz">
                                <label>{{getDescription(common.DD_ProductMarginIndex, prod.marginIndex)}}</label>
                            </div>
                            <div class="leftz alignright">
                                <span class="leftlabel">Preferred Payment Due Date:
                                </span>
                            </div>
                            <div class="rightz">
                                <label>{{prod.preferredPaymentDueDate}}</label>
                            </div>
                            <div class="leftz alignright">
                                <span class="leftlabel">Balloon Option:
                                </span>
                            </div>
                            <div class="rightz">
                                <label>{{getDescription(common.DD_ProductBalloonOption, prod.balloonOption)}}</label>
                            </div>
                            <div class="leftz alignright">
                                <span class="leftlabel">Amortization:
                                </span>
                            </div>
                            <div class="rightz">
                                <label>{{prod.amortization}}</label>
                            </div>
                            <div class="leftz alignright">
                                <span class="leftlabel">Underwriting Type:
                                </span>
                            </div>
                            <div class="rightz">
                                <label>{{prod.bankerRequestedUnderwriteMethod}}</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <a class="" data-toggle="collapse" href="javascript:void(0)" data-target="{{'#productFeatures-' + prod.productID}}">
                <span class="blacktext marginleft20">Product Features</span>
            </a>
            <a data-toggle="collapse" href="javascript:void(0)" data-target="{{'#productFeatures-' + prod.productID}}" class="accordToggle"></a>
        </div>
        <div id="{{'productFeatures-' + prod.productID}}" class="panel-collapse in" style="height: auto;">
            <div class="marginbottom30">
                <div class="containerZ">
                    <div class="leftz80">
                        <h3 class="georgia underlined clearfix" style="text-align: left; margin-left: 20px;"><span>Automatic Payment</span></h3>
                    </div>
                </div>
                <div class="containerz">

                    <div class="leftz alignright"><span class="leftlabel">Payment Type</span></div>
                    <div class="rightz">
                        <label>{{getDescription(common.DefaultACHPaymentType, prod.productFeatures.ACHData.ACHPaymentType)}}</label>
                    </div>
                    <div class="leftz alignright"><span class="leftlabel">Additional Principle:</span></div>
                    <div class="rightz">
                        <label>{{prod.productFeatures.ACHData.additionalPrincipal}}</label>
                    </div>
                    <div class="leftz alignright"><span class="leftlabel">Preferred Fix Payment:</span></div>
                    <div class="rightz">
                        <label>{{prod.productFeatures.ACHData.preferredFixAmount}}</label>
                    </div>
                    <div class="leftz alignright"><span class="leftlabel">Account Type:</span></div>
                    <div class="rightz">
                        <label>{{prod.productFeatures.ACHData.accountType}}</label>
                    </div>
                    <div class="leftz alignright"><span class="leftlabel">Bank Name:</span></div>
                    <div class="rightz">
                        <label>{{prod.productFeatures.ACHData.bankName}}</label>
                    </div>
                    <div class="leftz alignright"><span class="leftlabel">Account Number:</span></div>
                    <div class="rightz">
                        <label>{{prod.productFeatures.ACHData.accountType}}</label>
                    </div>
                    <div class="leftz alignright"><span class="leftlabel">Other Wells Fargo Account Number:</span></div>
                    <div class="rightz">
                        <label>{{prod.productFeatures.ACHData.otherWFAccountNum}}</label>
                    </div>
                    <div class="leftz alignright"><span class="leftlabel">Routing Transit Number(RTN):</span></div>
                    <div class="rightz">
                        <label>{{prod.productFeatures.ACHData.routingNum}}</label>
                    </div>
                </div>
            </div>

            <div class="marginbottom30">
                <div class="containerZ">
                    <div class="leftz80">
                        <h3 class="georgia underlined clearfix" style="text-align: left; margin-left: 20px;"><span>OverDraft Protection</span></h3>
                    </div>
                </div>
                <div class="containerz">
                    <div class="leftz alignright"><span class="leftlabel">Checking Account:</span></div>
                    <div class="rightz">
                        <label>{{prod.productFeatures.ODPData.checkingAccount}}</label>
                    </div>
                    <div class="leftz alignright"><span class="leftlabel">Account Number:</span></div>
                    <div class="rightz">
                        <label>{{prod.productFeatures.ODPData.otherWFAccountNum}}</label>
                    </div>
                    <div class="leftz alignright"><span class="leftlabel">Routing Transit Number(RTN):</span></div>
                    <div class="rightz">
                        <label>{{prod.productFeatures.ODPData.routingNum}}</label>
                    </div>
                    <div class="leftz alignright"><span class="leftlabel">Name on Account:</span></div>
                    <div class="rightz">
                        <label>{{prod.productFeatures.ODPData.accountOwner}}</label>
                    </div>
                </div>
            </div>

            <div class="marginbottom30">
                <div class="containerZ">
                    <div class="leftz80">
                        <h3 class="georgia underlined clearfix" style="text-align: left; margin-left: 20px;"><span>Checks</span></h3>
                    </div>
                </div>

                <div class="containerz">

                    <div class="leftz alignright"><span class="leftlabel">Delivery Address:</span></div>
                    <div class="rightz">
                        <label>{{getDescription(common.ddCheckDeliveryAddress, prod.productFeatures.Checks.deliveryAddress)}}</label>
                    </div>
                    <div class="leftz alignright"><span class="leftlabel">Address Line1:</span></div>
                    <div class="rightz">
                        <label>{{prod.productFeatures.Checks.addressLine1}}</label>
                    </div>
                    <div class="leftz alignright"><span class="leftlabel">Address Line2:</span></div>
                    <div class="rightz">
                        <label>{{prod.productFeatures.Checks.addressLine2}}</label>
                    </div>
                    <div class="leftz alignright"><span class="leftlabel">State:</span></div>
                    <div class="rightz">
                        <label>{{getDescription(common.usStates, prod.productFeatures.Checks.state)}}</label>
                    </div>
                    <div class="leftz alignright"><span class="leftlabel">Zip:</span></div>
                    <div class="rightz">
                        <label>{{prod.productFeatures.Checks.zip}}</label>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <!--<a href="javascript:void(0)">Basic Information</a>-->
            <a class="" data-toggle="collapse" href="javascript:void(0)" data-target="{{'#productCollateralInfo-' + prod.productID}}">
                <span class="blacktext marginleft20">Financial Collateral Information</span>
            </a>
            <a data-toggle="collapse" href="javascript:void(0)" data-target="{{'#productCollateralInfo-' + prod.productID}}" class="accordToggle"></a>
        </div>
        <div id="{{'productCollateralInfo-' + prod.productID}}" class="panel-collapse in" style="height: auto;">
            <div class="panel-body">
                <div class="containerZ">
                    <div class="leftz80">
                        <h3 class="georgia underlined clearfix" style="text-align: left; margin-left: 20px;"><span>Marketable Collateral</span></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="left marginleft20 marginright20">
                            <table class="table table-align3col">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Account</th>
                                        <th>Intermediary </th>
                                        <th>Manager</th>
                                        <th>Bank Address </th>
                                    </tr>
                                </thead>
                                <tbody class="greytext">
                                    <tr data-ng-repeat="marketable in prod.collateralInfo.financialCollteralList.marketableCollateralList.marketablecollateral">
                                        <td>{{marketable.securityInformation.securityType}}</td>
                                        <td>{{marketable.securityInformation.account}}</td>
                                        <td>{{marketable.securityInformation.intermediary}}</td>
                                        <td>{{marketable.securityInformation.managerName }}</td>
                                        <td>{{marketable.bankerInformation.bankerAddress.line1}}  {{marketable.bankerInformation.bankerAddress.line2}}  {{marketable.bankerInformation.bankerAddress.city}}  {{marketable.bankerInformation.bankerAddress.state}} - {{marketable.bankerInformation.bankerAddress.zip}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="containerZ">
                    <div class="leftz80">
                        <h3 class="georgia underlined clearfix" style="text-align: left; margin-left: 20px;"><span>CD & Saving Collateral</span></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="left marginleft20 marginright20">
                            <table class="table table-align3col">
                                <thead>
                                    <tr>
                                        <th>Collateral Type</th>
                                        <th>Account Number</th>
                                        <th>Amount</th>
                                        <th>Maturity Date</th>
                                        <th>Address</th>
                                    </tr>
                                </thead>
                                <tbody class="greytext">
                                    <tr ng-repeat="sum in prod.collateralInfo.financialCollteralList.cdSavingsCollateralList.CDSavingscollateral">
                                        <td>{{sum.CDSavings.collType}}</td>
                                        <td>{{sum.CDSavings.acctNumber}}</td>
                                        <td>{{sum.CDSavings.amount}}</td>
                                        <td>{{sum.CDSavings.maturityDate}}</td>
                                        <td>{{sum.collAddress.line1}}  {{sum.collAddress.line2}}  {{sum.collAddress.city}}  {{sum.collAddress.state}} - {{sum.collAddress.zip}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
