.panel-group .panel-default,
.wf-main-tabs .tabbable-panel,
.wf-main-tabs .tabbable-line > .tab-content {
    border-color : #F5A242;
}
.panel-group .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color : #F5A242;
}
.panel-group .panel-default .panel-heading,
.wf-main-tabs .tabbable-line > .nav-tabs  {
    background-color : #F5A242;
}