
<article ng-hide="sh.regcomplete" class="center-block fade in animated col col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable sortable-grid ui-sortable">
    <div class="jarviswidget">
        <div role="content">
            <img class="pull-right" src="Content/img/loading.gif" ng-if="Loading" />

            <div class="form-header">
                <!--img src="Content/img/app_icon/wf.jpg" class="floatLeft" /-->
                <h1 class="text-center">Create your Console Account</h1>

            </div>
            

            <div class="form-horizontal">

                <legend>To apply for access complete the following application</legend>

                <fieldset>
                    <legend>User Registration </legend>

                    <div class="form-group  col col-lg-12 col-md-12 col-sm-12 ">

                        <label class=" col-lg-4 col-md-3 col-sm-3 col-xs-3 control-label panel">First Name: <span class="text-danger"> * </span></label>
                        <div class="col-lg-8 col-md-9 col-sm-9 col-xs-9">
                            <div class="icon-addon addon-sm  ">
                                <input valid="fill" type="text" class="form-control " ng-model="bindRegister.FirstName" value="Nasir">
                                <label class="icon-append fa fa-user  "></label>
                            </div>
                        </div>

                    </div>

                    <div class="form-group  col col-lg-12 col-md-12 col-sm-12">

                        <label class=" col-lg-4 col-md-3 col-sm-3 col-xs-3 control-label">Last Name: <span class="text-danger"> * </span></label>
                        <div class="col-lg-8 col-md-9 col-sm-9 col-xs-9">
                            <div class="icon-addon addon-sm  ">
                                <input type="fill" valid="text" class="form-control " ng-model="bindRegister.LastName" value="Sayed">
                                <label class="icon-append fa fa-user  "></label>
                            </div>
                        </div>

                    </div>


                    <div class="form-group  col col-lg-12 col-md-12 col-sm-12 ">

                        <label class=" col-lg-4 col-md-3 col-sm-3 col-xs-3 control-label">Email: <span class="text-danger"> * </span></label>
                        <div class="col-lg-8 col-md-9 col-sm-9 col-xs-9">
                            <div class="icon-addon addon-sm  ">
                                <input type="text" valid="email" class="form-control " ng-model="bindRegister.UserEmail" value="nasir.sayed@gmail.com">
                                <label class="icon-append fa fa-envelope-o  "></label>
                            </div>
                        </div>

                    </div>
                    
                    <div class="form-group  col col-lg-12 col-md-12 col-sm-12 ">

                        <label class=" col-lg-4 col-md-3 col-sm-3 col-xs-3 control-label">UserId: <span class="text-danger"> * </span></label>
                        <div class="col-lg-8 col-md-9 col-sm-9 col-xs-9">
                            <div class="icon-addon addon-sm  ">
                                <input type="text" valid="fill" class="form-control " ng-model="bindRegister.UserId" value="u378899">
                                <label class="icon-append fa fa-male  "></label>
                            </div>
                        </div>

                    </div>
                    
                    <div class="form-group  col col-lg-12 col-md-12 col-sm-12 ">

                        <label class=" col-lg-4 col-md-3 col-sm-3 col-xs-3 control-label">Password: <span class="text-danger"> * </span></label>
                        <div class="col-lg-8 col-md-9 col-sm-9 col-xs-9">
                            <div class="icon-addon addon-sm  ">
                                <input type="password" valid="fill" class="form-control " ng-model="bindRegister.Password" value="tomandjerry">
                                <label class="icon-append fa  fa-eye  "></label>
                            </div>
                        </div>

                    </div>
                </fieldset>
                <fieldset>
                    <legend>Supervisor Details</legend>
                    <div class="form-group  col col-lg-12 col-md-12 col-sm-12 ">

                        <label class=" col-lg-4 col-md-3 col-sm-3 col-xs-3 control-label">Manager Name: <span class="text-danger"> * </span></label>
                        <div class="col-lg-8 col-md-9 col-sm-9 col-xs-9">
                            <div class="icon-addon addon-sm  ">
                                <input type="fill" valid="text" class="form-control " ng-model="bindRegister.ManagersName" value="Sayed">
                                <label class="icon-append fa fa-user   "></label>
                            </div>
                        </div>

                    </div>
                    <div class="form-group  col col-lg-12 col-md-12 col-sm-12 ">

                        <label class=" col-lg-4 col-md-3 col-sm-3 col-xs-3 control-label">Manager Email: <span class="text-danger"> * </span></label>
                        <div class="col-lg-8 col-md-9 col-sm-9 col-xs-9">
                            <div class="icon-addon addon-sm  ">
                                <input type="text" valid="email" class="form-control " ng-model="bindRegister.ManagersEmail" value="Ananth.Kodhandapani@tempargo.com">
                                <label class="icon-append fa fa-envelope-o   "></label>
                            </div>
                        </div>

                    </div>

                </fieldset>
                <fieldset>
                    <legend>Security Profile</legend>

                    <div class="form-group col col-lg-12 col-md-12 col-sm-12 ">
                        <label class=" col-lg-4 col-md-3 col-sm-3 col-xs-3 control-label">User Roles: <span class="text-danger"> * </span></label>
                        <div class=" smart-form col-lg-8 col-md-9 col-sm-9 col-xs-9">
                            <div class="icon-addon addon-sm  ">
                                <section ng-repeat="item in bindRegister.UserRoles">
                                    <label class="checkbox">
                                        <input type="checkbox" ng-model="item.Value" />
                                        <i></i>{{item.Name}}
                                    </label>
                                </section>
                                <img src="Content/img/loading.gif" ng-if="bindRegister.UserRoles.length==0" />
                            </div>
                        </div>

                   
                    </div>
                   
                </fieldset>
                <fieldset>
                    <div class="smart-form">
                        <footer>
                            <button type="submit" ng-if="!Loading" ng-click="SubmitRegister()" class="btn btn-primary">
                                Submit
                            </button>
                            <button type="button" class="btn btn-default" onclick="javascript:ReloadApp();">
                                Back
                            </button>
                        </footer>
                    </div>
                </fieldset>
            </div>

        </div>

    </div>


</article>
<article ng-show="sh.regcomplete" class="center-block col col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable sortable-grid ui-sortable">
    <div class="jarviswidget">
        <div role="content">

            <div class="form-header">
                <!--img src="Content/img/app_icon/wf.jpg" class="floatLeft" /-->
                <h1 class="text-center">Registration Complete</h1>

            </div>
            <div class="form-horizontal text-center">


                <h3>Your registration is now recorded and is <span class="semi-bold">pending acceptance.</span></h3>
                <h3>Please contact <span class="semi-bold"><i>{{bindRegister.ManagersName}}</i></span> for more information.</h3>
            </div>
            <fieldset>
                <div class="smart-form">
                    <footer>
                       
                        <button type="button" class="btn btn-default" wap-roles onclick="javascript:ReloadApp();">
                            Close
                        </button>
                    </footer>
                </div>
            </fieldset>
        </div>
    </div>
</article>