

<!--ul class="nav nav-tabs nav-tabs-top ng-scope">
    <li ui-sref-active="active">
        <a ui-sref="CreditDetail" class="graytext js-removecustomer" style="border-left:none!important;border-right:none!important;">Credit Details</a>
    </li>
    <li class=" graytext" style="border-left:none!important;border-right:none!important;padding-top: 6px;">|</li>
    <li ui-sref-active="active">
        <a ui-sref="Products/PB22X" class="graytext js-removecustomer" style="border-left:none!important;border-right:none!important;">Product Details</a>
    </li>
    <li class=" graytext" style="border-left:none!important;border-right:none!important;padding-top: 6px;">|</li>
    <li ui-sref-active="active"><a ui-sref="Hmda" class="graytext js-removecustomer" style="border-left:none!important;border-right:none!important;">HMDA Details</a></li>
    <li class="graytext" style="border-left:none!important;border-right:none!important;padding-top: 6px;">|</li>
    <li ui-sref-active="active"><a ui-sref="RECollateral" class="graytext js-removecustomer" style="border-left:none!important;border-right:none!important;">RE Collateral</a></li>
    <li class=" graytext" style="border-left:none!important;border-right:none!important;padding-top: 6px;">|</li>
    
    <li ui-sref-active="active"><a ui-sref="PersonalFin" class="graytext js-removecustomer" style="border-left:none!important;border-right:none!important;">Personal Finance</a></li>
    <li class=" graytext" style="border-left:none!important;border-right:none!important;padding-top: 6px;">|</li>
    <li ui-sref-active="active"><a ui-sref="Summary" class="graytext js-removecustomer" style="border-left:none!important;border-right:none!important;">Summary</a></li>
    
</!--ul>
<br/!-->